<h3 class="title">Atrybuty</h3>
{% if attributes|length > 0 %}
    {{ form_start(form, { 'action': path('lscms_productCategory_show', {'slug': slug}), 'method': 'POST' }) }}

    {{ form_end(form) }}
    <a id="remove-select" href="{{ path('lscms_productCategory_show', {'slug': slug}) }}">Wyczyść atrybuty</a>
{% else %}
    <p>Brak atrybutów.</p>
{% endif %}
