<div class="contact-boxes">
    <ul class="unstyled">
        {% if location != 'lscms_shop'  %}
        <li id="shop">
            <a href="{{ path('lscms_shop') }}">
                <h3>
                    Znajdź sklep<br />
                    w Twojej okolicy!<br />
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </h3>
            </a>
        </li>
        {% endif %}
        {% if location is defined %}
            {% if location == 'lscms_product_promotion' %}
            <li id="promo">
                <a href="{{ path('lscms_product_new') }}">
                    <h3>
                        Zobacz nowości produktowe<br />
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </h3>
                </a>
            </li>
            {% elseif location == 'lscms_product_new' %}
            <li id="new">
                <a href="{{ path('lscms_product_promotion') }}">
                    <h3>
                        Zobacz najnowsze promocje<br />
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </h3>
                </a>
            </li>
            {% else %}
            <li id="promo">
                <a href="{{ path('lscms_product_new') }}">
                    <h3>
                        Zobacz nowości produktowe<br />
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </h3>
                </a>
            </li>
            <li id="new">
                <a href="{{ path('lscms_product_promotion') }}">
                    <h3>
                        Zobacz najnowsze promocje<br />
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </h3>
                </a>
            </li>
            {% endif %}
        {% else %}
        <li id="promo">
            <a href="{{ path('lscms_product_new') }}">
                <h3>
                    Zobacz nowości produktowe<br />
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </h3>
            </a>
        </li>
        <li id="new">
            <a href="{{ path('lscms_product_promotion') }}">
                <h3>
                    Zobacz najnowsze promocje<br />
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </h3>
            </a>
        </li>
        {% endif%}
        {% if (location != 'lscms_contact') and (location != 'wspolpraca')  %}
        <li id="contact">
            <a href="{{ path('lscms_contact') }}">
                <h3>
                    Masz pytania?<br />
                    Skontaktuj się z nami!
                </h3>
            </a>
        </li>
        {% endif%}
    </ul>
</div>