{% extends '::base.html.twig' %}

{% block title %}Kontakt - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container subpage contact-section clearfix">
        <div class="left-col pull-left">
        <div class="page-title contact-title">
            <h1>Kontakt</h1>
            <p class="lead">Masz pytania? Skontaktuj się z nami!</p>
        </div>
        <div class="page-content contact clearfix">
            <div class="pull-left">
                <p class="company-name">{{ cms_config.get('contact_page_company_name', '') }}</p>
                <p class="address">{{ cms_config.get('contact_page_address', '') | raw }}</p>
                <div class="phones">
                    <p>
                        <i class="fa fa-phone" aria-hidden="true"></i>{{ cms_config.get('contact_page_phone_prefix', '') }} {{ cms_config.get('contact_page_phone_number', '') }}<br />
                        <i class="fa fa-phone" aria-hidden="true"></i>{{ cms_config.get('contact_page_cell_phone_prefix', '') }} {{ cms_config.get('contact_page_cell_phone_number', '') }}<br />
                        <i class="fa fa-envelope" aria-hidden="true"></i>{{ cms_config.get('contact_page_email', '') }}<br />
                    </p>
                </div>
                <p>
                    NIP: {{ cms_config.get('nip', '') }}<br />
                    REGON: {{ cms_config.get('regon', '') }}
                </p>
            </div>
            <div class="pull-left form">
                <div class="form-wrapper clearfix">
                    {% if app.session.flashbag.has('success') %}
                        <div class="thank">
                            {% for flashMessage in app.session.flashbag.get('success') %}
                                {{ flashMessage|raw }}
                            {% endfor %}            
                        </div>
                    {% else %}
                        {{ form_start(form, { 'action': path('lscms_contact'), 'method': 'POST' }) }}
                            {{ form_errors(form.companyName) }}
                            {{ form_errors(form.fullName) }}
                            {{ form_errors(form.email) }}
                            {{ form_errors(form.phone) }}
                            {{ form_errors(form.message) }}

                            <div class="section">
                                {{ form_label(form.companyName) }}
                                {{ form_widget(form.companyName) }}
                            </div>

                            <div class="section">
                                {{ form_label(form.fullName) }}
                                {{ form_widget(form.fullName) }}
                            </div>

                            <div class="section">
                                {{ form_label(form.email) }}
                                {{ form_widget(form.email) }}
                            </div>

                            <div class="section">
                                {{ form_label(form.phone) }}
                                {{ form_widget(form.phone) }}
                            </div>

                            <div class="full-width">
                                {{ form_label(form.message) }}
                                {{ form_widget(form.message) }}
                            </div>

                            {{ form_row(form._token) }}
                            <input type="submit" class="submit-btn" name="send" value="Wyślij">
                        {{ form_end(form) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="right-col pull-right">
        {% include('LsCmsBundle:Default:_offer_boxes.html.twig') %}
    </div>
</div>
{% endblock %}
