{% extends '::base.html.twig' %}

{% block body %}
        {{ render(controller('LsCmsBundle:Product:promotionsSlider')) }}
        <div class="promotions-section">
            <div class="container">
                {% render(path('lscms_product_promoted')) %}
                {% render(path('lscms_product_newest')) %}
            </div>
        </div>
        <div class="middle-line">
            <div class="container"></div>
        </div>
        <div class="map-section">
            <div class="container clearfix">
                <div class="map-container pull-left">
                    {% include('LsCmsBundle:Shop:_map.html.twig') with {'shops': shops} %}
                </div>
                <div class="search-box">
                    <h3>Wyszukaj sklepy</h3>
                    <form action="{{ path('lscms_shop_search') }}">
                        <label for="code">Znajdź najbliższe sklepy za pomocą:</label>
                        <input type="text" name="code" placeholder="Kod pocztowy">
                        <label for="city">lub:</label>
                        <input type="text" name="city" placeholder="Miejscowość">
                        <input type="submit" name="submit" value="Wyszukaj sklepy" class="submit-btn">
                    </form>
                </div> 
            </div>
        </div>
        <div class="bottom-line">
            <div class="container"></div>
        </div>
        <div class="about-section">
            <div class="container">
                <h2>O firmie</h2>
                <div class="inside-container clearfix">
                    {% include('LsCmsBundle:Default:_quote.html.twig') %}
                    <div class="text pull-right">
                        {{ page.content|raw }}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
