{% extends '::base.html.twig' %}

{% block title %}Wyszukiwanie - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Wyniki wyszukiwania dla "{{ keyword }}"</h1>
        <div class="page-separator"></div>

        <div id="search-results" class="products">
            <div class="section">
                <div class="header">Ilość <span class="color">produktów</span> znalezionych na podstawie szukanej frazy: <strong>{{ products | length }}</strong></div>
                <ul class="unstyled inline">
                    {% for product in products %}
                        <li>
                            {% if product.photo %}
                                <div class="img-container">
                                    <a href="{{ product.getPhotoWebPath() }}">
                                        <img src="{{ product.getThumbWebPath('list') }}" alt="zdjęcie produktu - {{ product.name }}"/>
                                    </a>
                                </div>
                            {% endif %}
                            <p class="name">{{ product.name }}</p>

                            {% if product.quantity %}
                                <p class="quantity">Dostępne: {{ product.quantity | default(0) }} szt.</p>
                            {% endif %}

                            {% if product.promotionPrice > 0 %}
                                <p class="price">
                                    {{ product.price|number_format(2, '.') }} zł <span>{{ product.promotionPrice|number_format(2, '.') }} zł</span>
                                </p>
                            {% else %}
                                <p class="price">
                                    {{ product.price|number_format(2, '.') }} zł
                                </p>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {{ knp_pagination_render(products) }}
            </div>
        </div>
    </div>
{% endblock %}
