{% if wo_breadcrumbs()|length >= 0 %}
    <div id="breadcrumbs">
        <span class="header">Jesteś tutaj</span>
        <ul>
            {% for b in wo_breadcrumbs() %}
                <li>
                    {% if loop.last %}
                        <a href="javascript:void(0)">{{ b.text }}</a>
                    {% else %}
                        <a href="{{ b.url }}">{{ b.text }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
