<div id="page-gallery">
    {% for photo in photos %}
        <div class="item">
            <a href="{{ photo.getPhotoWebPath() }}" title="" class="colorbox" rel="gallery">
                <img src="{{ photo.getThumbWebPath('list') }}?{{ random(10000) }}" alt=""/>
            </a>
        </div>
    {% endfor %}
</div>
