{% if pageCount > 1 %}
    <div id="pager">
        <div class="center">
            {% if previous is defined %}
                <a class="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><i class="fa fa-chevron-left" aria-hidden="true"></i>
</a>
            {% else %}
                <a class="prev" href="javascript:void(0)"><i class="fa fa-chevron-left" aria-hidden="true"></i>
</a>
            {% endif %}

            <div class="numbers">
                {% for page in pagesInRange %}
                    {% if page != current %}
                        <a href="{{ path(route, query|merge({(pageParameterName): page})) }}" {% if loop.last %}class="last"{% endif %}>{{ page }}</a>
                    {% else %}
                        <a href="javascript:void(0)" class="active">{{ page }}</a>
                    {% endif %}
                {% endfor %}
            </div>
            
            {% if last is defined and current != last and  pageCount > 3 %}
                <span class="page">...</span>
                 <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">{{last}}</a>
            {% endif %}

            {% if next is defined %}
                <a class="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}"><i class="fa fa-chevron-right" aria-hidden="true"></i>
</a>
            {% else %}
                <a class="next" href="javascript:void(0)"><i class="fa fa-chevron-right" aria-hidden="true"></i>
</a>
            {% endif %}
        </div>
    </div>
{% endif %}
