<div class="right-pane">
    {% if (type == 'both') %}
    <div class="news-box">
        <div class="item">
            <div class="header">
                <a href="{{ path('lscms_news') }}" title="Wydarzenia">Wydarzenia</a>
            </div>
            {% for wydarzenie in wydarzenia %}
            <div class="title">
                <a href="{{ path('lscms_news_show', { 'slug': wydarzenie.slug }) }}" title="{{ wydarzenie.title }}">{{ wydarzenie.title }}</a>
            </div>
            <div class="content">{{ wydarzenie.contentshort }}</div>
            <br/>
            <a href="{{ path('lscms_news_show', { 'slug': wydarzenie.slug }) }}" title="Czytaj dalej" class="more underline">czytaj dalej<img src="{{ asset('bundles/lscms/images/arrow-more.png') }}" alt="czytaj dalej"/></a>
            {% endfor %}
            <br/>
            <a href="{{ path('lscms_news') }}" title="Zobacz pozostałe" class="articles button-1 clear">Zobacz pozostałe</a>
        </div>
    </div>
    <div class="clear"></div>
    <div class="contact-box">
        <div class="item">
            <div class="header">
                <a href="{{ path('lscms_kontakt') }}" title="Kontakt">Kontakt</a>
            </div>
            <div class="data">
                <span>{{ cms_config.get('kontakt_telefon_prefix', '') }}</span>&nbsp;{{ cms_config.get('kontakt_telefon', '') }}
                <br/>{{ cms_config.get('kontakt_email', '') }}
            </div>
            <div class="separator">
                <img src="{{ asset('bundles/lscms/images/separator.png') }}" alt=""/>
            </div>
            <div class="content">{{ cms_config.get('kontakt_adres', '')|nl2br }}</div>
            <br/><a href="{{ path('lscms_kontakt') }}" title="Formularz kontaktowy" class="button-1 clear">Formularz kontaktowy</a>
        </div>
    </div>
    {% endif %}
    {% if (type == 'contact') %}
    <div class="contact-box solo">
        <div class="item">
            <div class="header">
                <a href="{{ path('lscms_kontakt') }}" title="Kontakt">Kontakt</a>
            </div>
            <div class="data">
                <span>{{ cms_config.get('kontakt_telefon_prefix', '') }}</span>&nbsp;{{ cms_config.get('kontakt_telefon', '') }}
                <br/>{{ cms_config.get('kontakt_email', '') }}
            </div>
            <div class="separator">
                <img src="{{ asset('bundles/lscms/images/separator.png') }}" alt=""/>
            </div>
            <div class="content">{{ cms_config.get('kontakt_adres', '')|nl2br }}</div>
            <br/><a href="{{ path('lscms_kontakt') }}" title="Formularz kontaktowy" class="button-1 clear">Formularz kontaktowy</a>
        </div>
    </div>
    {% endif %}
    {% if (type == 'news') %}
    <div class="news-box solo">
        <div class="item">
            <div class="header">
                <a href="{{ path('lscms_news') }}" title="Wydarzenia">Wydarzenia</a>
            </div>
            {% for wydarzenie in wydarzenia %}
            <div class="title">
                <a href="{{ path('lscms_news_show', { 'slug': wydarzenie.slug }) }}" title="{{ wydarzenie.title }}">{{ wydarzenie.title }}</a>
            </div>
            <div class="content">{{ wydarzenie.contentshort }}</div>
            <br/>
            <a href="{{ path('lscms_news_show', { 'slug': wydarzenie.slug }) }}" title="Czytaj dalej" class="more underline">czytaj dalej<img src="{{ asset('bundles/lscms/images/arrow-more.png') }}" alt="czytaj dalej"/></a>
            {% endfor %}
            <br/>
            <a href="{{ path('lscms_news') }}" title="Zobacz pozostałe" class="articles button-1 clear">Zobacz pozostałe</a>
        </div>
    </div>
    <div class="clear"></div>
    {% endif %}
</div>