{{ form_start(form, {'action': path('lscms_termin'), 'method': 'POST', 'attr': { 'id': 'termin-form' }}) }}
<div class="termin-form-error">
{{ form_errors(form.email) }}
{{ form_errors(form.phone) }}
{{ form_errors(form.termin) }}
{{ form_errors(form.message) }}
</div>
<div class="termin-form-label">{{ form_label(form.email) }}</div>
<div class="termin-form-field">{{ form_widget(form.email) }}</div>
<div class="termin-form-label">{{ form_label(form.phone) }}</div>
<div class="termin-form-field">{{ form_widget(form.phone) }}</div>
<div class="termin-form-label">{{ form_label(form.termin) }}</div>
<div class="termin-form-field">{{ form_widget(form.termin) }}</div>
<div class="termin-form-label">{{ form_label(form.message) }}</div>
<div class="termin-form-field">{{ form_widget(form.message) }}</div>
<div class="termin-form-buttons">
    {{ form_row(form._token) }}
    <input type="submit" value="Wyślij"/>
</div>
{{ form_end(form) }}
