{% extends '::base.html.twig' %}

{% block title %}Galeria - {{ parent() }}{% endblock %}

{% block body %}
<div class="left-pane">
    <div class="title"><h1>Galeria</h1></div>
    <div class="gallery-listing">
        {% set subclass = { 1: 'first', 2: 'second', 3: 'third', 0: 'fourth' } %}
        {% for entity in entities %}
        {% set item = loop.index % 4 %}
        <div class="item {{ subclass[item] }}">
            <a href="{{ path('lscms_gallery_show', { 'slug': entity.slug }) }}">
                <img src="{{ entity.photos.0.getThumbWebPath('list') }}?{{ random(10000) }}" alt="" />
                <span>{{ entity.title }}</span>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% include "LsCmsBundle::rightPane.html.twig" with { type: 'both' } %}
{% endblock %}
