{% extends '::base.html.twig' %}

{% block title %}{{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block body %}
<div class="left-pane">
    <div class="title"><h1>Galeria - {{ entity.title }}</h1></div>
    <div class="gallery-details">
        {% set classes = { 1: 'one-col two-rows', 2: 'one-col one-row', 3: 'one-col one-row', 4: 'two-cols one-row', 5: 'one-col one-row', 6: 'two-cols two-rows fright', 7: 'one-col one-row', 8: 'one-col one-row', 9: 'one-col one-row', 0: 'one-col one-row' } %}
        {% set type = { 1: 'detail12', 2: 'detail11', 3: 'detail11', 4: 'detail21', 5: 'detail11', 6: 'detail22', 7: 'detail11', 8: 'detail11', 9: 'detail11', 0: 'detail11' } %}
        {% for photo in entity.photos %}
        {% set item = loop.index % 10 %}
        <div class="item {{ classes[item] }}">
            <a href="{{ photo.getPhotoWebPath() }}" title="" class="fancybox" rel="gallery">
                <img src="{{ photo.getThumbWebPath( type[item] ) }}?{{ random(10000) }}" alt=""/>
            </a>
        </div>
        {% endfor %}
        <div class="clear"></div>
    </div>
</div>
{% include "LsCmsBundle::rightPane.html.twig" with { type: 'both' } %}
{% endblock %}
