{% extends '::base.html.twig' %}

{% block title %}Galeria - {{ parent() }}{% endblock %}

{% block body %}
    <div id="header">
        {{ wo_render_breadcrumbs() }}
        
        <div class="clear"></div>
        <h1 class="title">Galeria</h1>
    </div>
    <div id="content">
        <div id="lighter"></div>
        <div class="container">
            {% if entities %}
                <div class="gallery">
                    {% for photo in entities %}
                        <a href="{{ photo.getPhotoWebPath() }}" title="" class="fancybox gallery_item {% if loop.index % 3 == 0 %}last{% endif %}" rel="gallery">
                            <img src="{{ photo.getThumbWebPath('list') }}?{{ random(10000) }}" alt=""/>
                            <span class="mask"></span>
                        </a>
                    {% endfor %}
                </div>
                
                {{ knp_pagination_render(entities) }}
            {% endif %}
        </div>
    </div>
    <div id="page_shadow"></div>
{% endblock %}
