{% extends '::base.html.twig' %}

{% block body -%}
    <h1>GalleryPhoto</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ entity.photo }}</td>
            </tr>
            <tr>
                <th>Arrangement</th>
                <td>{{ entity.arrangement }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('lscms_gallery_photo') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('lscms_gallery_photo_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
