@charset "UTF-8";
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-02-06, 12:07:00
    Author     : Tomek Jacek
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-02-06, 13:29:36
    Author     : Tomek Jacek
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-02-06, 14:19:42
    Author     : Tomek Jacek
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-02-07, 13:54:19
    Author     : Tomek Jacek
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-02-06, 12:52:47
    Author     : Tomek Jacek
*/
.clearfix:after {
  display: block;
  content: "";
  clear: both; }

ul.unstyled {
  list-style: none;
  padding: 0;
  margin: 0; }
ul.inline li {
  display: inline-block; }

.pull-right {
  float: right; }
.pull-left {
  float: left; }

p.wstep {
  font-size: 13px;
  font-weight: 600; }

.hidden {
  visibility: hidden; }

ul.unstyled {
  list-style: none;
  margin: 0;
  padding: 0; }
ul.inline li {
  display: inline-block; }

.scroll-blocked {
  overflow-y: hidden; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

a:hover {
  text-decoration: underline !important; }

.container {
  margin: 0 auto;
  width: 1170px; }
  @media (max-width: 1189px) {
    .container {
      padding: 0;
      width: 768px; } }
  @media (max-width: 797px) {
    .container {
      width: 320px; } }

form input[type="text"], form textarea {
  padding-left: 10px; }

/*! importanty na potrzeby nadpisania wy┼Ťwietlania sie elementu.*/
.tablet, .mobile {
  display: none !important; }

@media (max-width: 1189px) {
  .tablet {
    display: block !important; }

  .desktop, .mobile {
    display: none !important; } }
@media (max-width: 797px) {
  .mobile {
    display: block !important; }

  .desktop, .tablet {
    display: none !important; } }
form .submit-btn {
  cursor: pointer; }

.dark-upper-bar {
  background-color: #333333;
  height: 35px; }
  .dark-upper-bar .container {
    position: relative;
    z-index: 1001;
    display: flex;
    align-items: center;
    height: 100%; }
    .dark-upper-bar .container:after {
      position: absolute;
      z-index: 1002;
      bottom: -2px;
      background: url("../images/upper-line.png") no-repeat;
      background-position: center left;
      content: "";
      left: 0;
      height: 2px;
      width: 1100px; }
  .dark-upper-bar a {
    color: #fff;
    text-decoration: none; }
  .dark-upper-bar ul {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    width: 430px; }
    .dark-upper-bar ul li {
      font-size: 12px;
      font-weight: 600; }
  @media (max-width: 1189px) {
    .dark-upper-bar .container:after {
      width: 100%; }
    .dark-upper-bar ul {
      width: 100%; } }
  @media (max-width: 797px) {
    .dark-upper-bar {
      display: none; } }

.main-nav-section {
  position: relative;
  z-index: 1010;
  height: 100px;
  width: 100%; }
  .main-nav-section .container {
    position: relative;
    z-index: 1001;
    display: flex;
    align-items: center;
    height: 100%; }
  .main-nav-section #brand {
    background: url("../images/logo.jpg") no-repeat;
    background-position: center center;
    height: 100%;
    width: 222px; }
    .main-nav-section #brand a {
      display: block;
      height: 100px; }
  .main-nav-section ul {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    width: auto;
    max-width: 800px; }
    .main-nav-section ul li {
      font-size: 13px;
      font-weight: 600;
      margin-left: 25px;
      text-transform: uppercase; }
  .main-nav-section .search {
    margin-left: 25px; }
  .main-nav-section a {
    color: #333333;
    text-decoration: none; }
  .main-nav-section .mnav {
    display: none; }
  .main-nav-section .desktop-nav {
    margin-left: auto;
    width: 800px;
    float: right;
    margin-right: 90px; }
  @media (max-width: 1189px) {
    .main-nav-section .container {
      justify-content: space-between; }
    .main-nav-section .desktop-nav {
      display: none; }
    .main-nav-section .dark-upper-bar-mobile ul {
      display: none; }
    .main-nav-section a#mobile-nav-trigger {
      position: relative;
      z-index: 1001;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      float: right;
      margin-right: 8px;
      margin-top: 20px;
      height: 55px;
      width: 56px; }
      .main-nav-section a#mobile-nav-trigger span {
        background-color: #333;
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out; }
        .main-nav-section a#mobile-nav-trigger span:nth-child(1) {
          top: 0px;
          -webkit-transform-origin: left center;
          -moz-transform-origin: left center;
          -o-transform-origin: left center;
          transform-origin: left center; }
        .main-nav-section a#mobile-nav-trigger span:nth-child(2) {
          top: 18px;
          -webkit-transform-origin: left center;
          -moz-transform-origin: left center;
          -o-transform-origin: left center;
          transform-origin: left center; }
        .main-nav-section a#mobile-nav-trigger span:nth-child(3) {
          top: 36px;
          -webkit-transform-origin: left center;
          -moz-transform-origin: left center;
          -o-transform-origin: left center;
          transform-origin: left center; }
      .main-nav-section a#mobile-nav-trigger.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: -3px;
        left: 8px; }
      .main-nav-section a#mobile-nav-trigger.open span:nth-child(2) {
        width: 0%;
        opacity: 0; }
      .main-nav-section a#mobile-nav-trigger.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 39px;
        left: 8px; }
    .main-nav-section ul {
      position: relative;
      z-index: 1020;
      background-color: #fff;
      flex-wrap: wrap;
      margin: auto;
      text-align: center;
      max-width: 100%;
      width: 100%; }
      .main-nav-section ul li {
        margin: 0;
        width: 100%; }
        .main-nav-section ul li a {
          border-bottom: 1px solid #e4e4e4;
          padding: 25px 0;
          display: block;
          margin: 0 auto;
          max-width: 300px; }
        .main-nav-section ul li:hover a {
          text-decoration: none !important; }
    .main-nav-section .search {
      display: none; } }
  @media (max-width: 797px) {
    .main-nav-section ul {
      width: 100%; }
    .main-nav-section .dark-upper-bar-mobile ul {
      background-color: #333;
      display: block; }
      .main-nav-section .dark-upper-bar-mobile ul li {
        text-transform: capitalize; }
        .main-nav-section .dark-upper-bar-mobile ul li a {
          border-color: #4b4b4b;
          color: #fff; } }

.slider-section {
  width: 100%;
  position: relative;
  z-index: 1009; }
  @media (max-width: 1189px) {
    .slider-section {
      display: none !important; } }
  @media (max-width: 797px) {
    .slider-section {
      display: none !important; } }
  .slider-section .mobile-slideshow {
    display: none; }
  .slider-section .slideshow {
    overflow-x: hidden; }
    .slider-section .slideshow .item {
      width: 100%; }
  .slider-section .pager {
    position: absolute;
    z-index: 1010;
    text-align: center;
    margin: 0 auto;
    top: 135px;
    left: 0;
    right: 0; }
    .slider-section .pager span {
      color: #fff;
      cursor: pointer;
      font-size: 24px;
      margin: 0 2px 0;
      vertical-align: middle; }
      .slider-section .pager span.cycle-pager-active {
        font-size: 37px; }
  .slider-section .inside-container {
    position: relative;
    z-index: 1002; }
  .slider-section .img-container {
    position: relative;
    z-index: 1001;
    text-align: right;
    width: 100%;
    height: 463px;
    overflow: hidden; }
    .slider-section .img-container img {
      transition: opacity .4s;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .slider-section .img-container .slide-highlight-wrap {
      width: 100%;
      height: 463px;
      position: absolute;
      left: 0;
      top: 0; }
      .slider-section .img-container .slide-highlight-wrap .slide-highlight {
        margin-top: 200px;
        margin-left: 40px;
        width: 1px;
        height: 1px;
        border-radius: 50%;
        -webkit-box-shadow: 0px 0px 250px 380px rgba(255, 255, 255, 0.9);
        -moz-box-shadow: 0px 0px 250px 380px rgba(255, 255, 255, 0.9);
        box-shadow: 0px 0px 250px 380px rgba(255, 255, 255, 0.9); }
    .slider-section .img-container .slider-container {
      width: 1170px;
      margin: 0 auto;
      position: relative; }
      .slider-section .img-container .slider-container .slider-text {
        position: absolute;
        top: -467px;
        left: 0;
        padding-top: 60px;
        color: #333333;
        font-size: 13px;
        font-weight: 600;
        width: 360px;
        text-align: left; }
        .slider-section .img-container .slider-container .slider-text > div {
          line-height: 24px; }
        .slider-section .img-container .slider-container .slider-text h2 {
          font-size: 48px;
          font-weight: 700;
          color: #333333;
          font-size: 48px;
          font-weight: 700;
          line-height: 120%;
          margin: 0 0 25px; }
        .slider-section .img-container .slider-container .slider-text p {
          font-size: 13px;
          font-weight: 600;
          line-height: 180%;
          margin: 0;
          max-width: 310px; }
        .slider-section .img-container .slider-container .slider-text a {
          position: absolute;
          left: 0;
          top: 300px;
          font-size: 14px;
          color: #333333;
          padding: 10px 15px;
          border: 2px solid #9cca1f;
          text-decoration: none;
          text-transform: uppercase;
          cursor: pointer;
          font-weight: 700; }
  .slider-section .cycle-pager-active img {
    opacity: 1 !important; }
  .slider-section .controls-wrap {
    margin-top: -55px; }
    .slider-section .controls-wrap .slider-thumbs {
      display: flex;
      justify-content: flex-start; }
      .slider-section .controls-wrap .slider-thumbs img {
        border-radius: 8px;
        opacity: .5;
        width: 100%; }
      .slider-section .controls-wrap .slider-thumbs .img-container {
        border-radius: 8px;
        overflow: hidden;
        width: 100%;
        height: 100%; }
      .slider-section .controls-wrap .slider-thumbs li {
        position: relative;
        z-index: 1001;
        border-radius: 8px;
        height: 115px;
        cursor: pointer;
        background-color: #ffffff;
        overflow: hidden;
        width: 225px;
        margin-right: 9px; }
        .slider-section .controls-wrap .slider-thumbs li:after {
          content: '';
          display: none;
          width: 125px;
          height: 55px;
          position: absolute;
          z-index: 1001;
          top: 74px;
          left: -40px;
          -webkit-clip-path: ellipse(50% 48% at 50% 50%);
          clip-path: ellipse(50% 48% at 50% 50%);
          background-color: #9cca1f; }
        .slider-section .controls-wrap .slider-thumbs li.cycle-pager-active:after {
          display: block; }
        .slider-section .controls-wrap .slider-thumbs li .name {
          position: absolute;
          z-index: 1002;
          left: 20px;
          bottom: 16px; }
          .slider-section .controls-wrap .slider-thumbs li .name h2 {
            margin: 0;
            color: #333333;
            line-height: 25px; }
      .slider-section .controls-wrap .slider-thumbs:hover li:hover {
        opacity: 1; }
  @media (max-width: 1189px) {
    .slider-section {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between; }
      .slider-section .inside-container {
        width: 620px; }
      .slider-section .slideshow {
        float: left; }
      .slider-section .slider-text {
        order: 3;
        padding: 25px 10px 0;
        width: 768px; }
        .slider-section .slider-text a {
          position: static;
          z-index: 1002;
          margin-top: 15px;
          text-align: center;
          padding-left: 0;
          width: 200px; }
          .slider-section .slider-text a:after {
            display: none; }
      .slider-section .img-container {
        order: 1;
        height: 417px;
        width: 620px; }
        .slider-section .img-container img {
          height: 100%; }
      .slider-section .slider-thumbs {
        display: block;
        float: right;
        margin-top: 0;
        order: 2;
        width: 145px; }
        .slider-section .slider-thumbs img {
          max-width: 100%; }
        .slider-section .slider-thumbs li {
          /*Wy┼é─ůczenie ca┼ékowicie hover├│w w widoku tabletu.*/
          opacity: 1 !important;
          height: 76px;
          width: 100%; }
          .slider-section .slider-thumbs li .name {
            /*Wy┼é─ůczenie ca┼ékowicie hover├│w w widoku tabletu.*/
            display: none !important; } }
  @media (max-width: 797px) {
    .slider-section .slider-thumbs {
      display: none; }
    .slider-section .mobile-slideshow {
      display: block; }
      .slider-section .mobile-slideshow .slider-text {
        width: 280px; }
        .slider-section .mobile-slideshow .slider-text h2 {
          font-size: 30px; }
      .slider-section .mobile-slideshow .img-container {
        height: 185px;
        overflow: hidden;
        width: 320px; }
        .slider-section .mobile-slideshow .img-container img {
          height: auto;
          width: 100%; }
    .slider-section .main-slideshow {
      display: none; } }

.mobile-slider-wrap {
  width: 100%;
  overflow: hidden;
  display: none; }
  @media (max-width: 1189px) {
    .mobile-slider-wrap {
      display: block; } }
  .mobile-slider-wrap .bx-wrapper {
    width: 750px !important;
    margin: 0 auto;
    position: relative; }
    @media (max-width: 797px) {
      .mobile-slider-wrap .bx-wrapper {
        width: 300px !important; } }
    .mobile-slider-wrap .bx-wrapper .bx-viewport {
      overflow: visible !important; }
      .mobile-slider-wrap .bx-wrapper .bx-viewport #bx-mobile-slider .item {
        width: 750px !important;
        margin-right: 9px; }
        @media (max-width: 797px) {
          .mobile-slider-wrap .bx-wrapper .bx-viewport #bx-mobile-slider .item {
            width: 300px !important; } }
        .mobile-slider-wrap .bx-wrapper .bx-viewport #bx-mobile-slider .item.active-slide .item-content {
          opacity: 1; }
        .mobile-slider-wrap .bx-wrapper .bx-viewport #bx-mobile-slider .item .item-image {
          width: 750px !important;
          height: 395px; }
          @media (max-width: 797px) {
            .mobile-slider-wrap .bx-wrapper .bx-viewport #bx-mobile-slider .item .item-image {
              width: 300px !important;
              height: 188px; } }
          .mobile-slider-wrap .bx-wrapper .bx-viewport #bx-mobile-slider .item .item-image img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
    .mobile-slider-wrap .bx-wrapper .bx-controls {
      position: absolute;
      top: 350px;
      width: 750px; }
      @media (max-width: 797px) {
        .mobile-slider-wrap .bx-wrapper .bx-controls {
          top: 150px;
          width: 300px; } }
      .mobile-slider-wrap .bx-wrapper .bx-controls .bx-pager {
        display: flex;
        justify-content: center;
        align-items: center; }
        .mobile-slider-wrap .bx-wrapper .bx-controls .bx-pager .bx-pager-item {
          line-height: 0; }
          .mobile-slider-wrap .bx-wrapper .bx-controls .bx-pager .bx-pager-item .bx-pager-link {
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: white;
            border-radius: 50%;
            font-size: 0;
            margin-right: 12px; }
            .mobile-slider-wrap .bx-wrapper .bx-controls .bx-pager .bx-pager-item .bx-pager-link.active {
              width: 18px;
              height: 18px; }

.mobile-content-slider-wrap {
  display: none; }
  @media (max-width: 1189px) {
    .mobile-content-slider-wrap {
      display: block; } }
  .mobile-content-slider-wrap .bx-wrapper .bx-viewport #bx-mobile-content-slider .item-content {
    overflow: hidden;
    padding-bottom: 40px; }
    .mobile-content-slider-wrap .bx-wrapper .bx-viewport #bx-mobile-content-slider .item-content h2 {
      font-size: 48px;
      color: #333333; }
      @media (max-width: 1189px) {
        .mobile-content-slider-wrap .bx-wrapper .bx-viewport #bx-mobile-content-slider .item-content h2 {
          margin: 30px 0 20px 0; } }
      @media (max-width: 797px) {
        .mobile-content-slider-wrap .bx-wrapper .bx-viewport #bx-mobile-content-slider .item-content h2 {
          font-size: 30px; } }
    .mobile-content-slider-wrap .bx-wrapper .bx-viewport #bx-mobile-content-slider .item-content .item-content-text {
      margin-bottom: 30px; }
    .mobile-content-slider-wrap .bx-wrapper .bx-viewport #bx-mobile-content-slider .item-content a {
      display: inline-block;
      font-size: 14px;
      color: #333333;
      padding: 10px 15px;
      border: 2px solid #9cca1f;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;
      font-weight: 700; }

.promotions-section {
  background-color: #f9f9f9;
  padding: 55px 0 60px;
  margin-top: -55px; }
  @media (max-width: 1189px) {
    .promotions-section {
      clear: both;
      margin-top: 25px; } }
  .promotions-section .orange-header {
    font-size: 24px;
    font-weight: 400;
    color: #f04b11;
    margin: 40px 0;
    text-transform: uppercase; }
  .promotions-section a {
    color: #333333; }
  .promotions-section .container .promoted, .promotions-section .container .newest {
    display: inline-block;
    width: 49%;
    vertical-align: top; }
    .promotions-section .container .promoted img, .promotions-section .container .newest img {
      border-radius: 8px;
      display: inline-block;
      vertical-align: middle;
      transition: transform .3s;
      -webkit-transition: transform .3s;
      -moz-transition: transform .3s; }
    .promotions-section .container .promoted .img-container, .promotions-section .container .newest .img-container {
      position: relative;
      z-index: 1002;
      border-radius: 8px;
      height: auto;
      width: 156px;
      overflow: hidden; }
    .promotions-section .container .promoted img, .promotions-section .container .newest img {
      position: relative;
      z-index: 1001;
      border-radius: 8px;
      margin: 0 auto;
      width: 100%;
      height: auto; }
    .promotions-section .container .promoted .img-container, .promotions-section .container .promoted .description, .promotions-section .container .newest .img-container, .promotions-section .container .newest .description {
      display: inline-block;
      vertical-align: middle; }
    .promotions-section .container .promoted .description, .promotions-section .container .newest .description {
      height: 100%;
      max-width: 50%;
      padding: 0 25px; }
      .promotions-section .container .promoted .description p, .promotions-section .container .newest .description p {
        margin: 0; }
        .promotions-section .container .promoted .description p.name, .promotions-section .container .newest .description p.name {
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 25px; }
        .promotions-section .container .promoted .description p.price, .promotions-section .container .newest .description p.price {
          font-size: 24px;
          font-weight: 700;
          color: #9cca1f; }
          .promotions-section .container .promoted .description p.price span, .promotions-section .container .newest .description p.price span {
            color: #ff0000;
            font-size: 16px;
            margin-left: 12px;
            text-decoration: line-through; }
    .promotions-section .container .promoted li a, .promotions-section .container .newest li a {
      text-decoration: none; }
    .promotions-section .container .promoted li:hover > a, .promotions-section .container .newest li:hover > a {
      text-decoration: none !important; }
    .promotions-section .container .promoted li:hover .img-container, .promotions-section .container .newest li:hover .img-container {
      border-color: #f04b11; }
    .promotions-section .container .promoted li:hover img, .promotions-section .container .newest li:hover img {
      border-radius: 8px;
      transform: scale(1.05);
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05); }
    .promotions-section .container .promoted li:hover p, .promotions-section .container .newest li:hover p {
      text-decoration: underline; }
    .promotions-section .container .promoted li:hover .price, .promotions-section .container .newest li:hover .price {
      text-decoration: none; }
    .promotions-section .container .promoted li .img-container, .promotions-section .container .newest li .img-container {
      border: 2px solid transparent;
      transition: border .3s; }
    .promotions-section .container .promoted a.main, .promotions-section .container .newest a.main {
      text-decoration: none; }
  @media (max-width: 1189px) {
    .promotions-section {
      padding: 0 0 5px; }
      .promotions-section .container .promoted img, .promotions-section .container .newest img {
        display: block; }
      .promotions-section .container .promoted .description, .promotions-section .container .newest .description {
        padding: 20px 0;
        max-width: 80%; } }
  @media (max-width: 797px) {
    .promotions-section {
      padding: 30px 0 20px; }
      .promotions-section .container .promoted, .promotions-section .container .newest {
        min-height: 300px;
        padding: 15px 0;
        width: 100%; }
        .promotions-section .container .promoted li .img-container, .promotions-section .container .newest li .img-container {
          display: block; }
          .promotions-section .container .promoted li .img-container img, .promotions-section .container .newest li .img-container img {
            display: block;
            max-width: 100%; }
        .promotions-section .container .promoted .description, .promotions-section .container .newest .description {
          max-width: 100%; }
      .promotions-section .container .orange-header {
        margin-top: 0; } }

.middle-line .container {
  background: url("../images/middle-line.png") no-repeat;
  background-position: center left;
  height: 60px;
  content: ""; }
@media (max-width: 1189px) {
  .middle-line .container {
    margin: 0 auto;
    width: 100%; } }

.bottom-line {
  height: 50px; }

.map-section .map-container, .map-insider .map-container {
  position: relative;
  z-index: 1001;
  height: 380px;
  width: 780px; }
  @media (max-width: 1189px) {
    .map-section .map-container, .map-insider .map-container {
      width: 460px; } }
.map-section .map, .map-insider .map {
  background: url("../images/map.jpg") no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
  height: 380px;
  width: 780px; }
.map-section .hover, .map-insider .hover {
  position: absolute;
  z-index: 1004;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  background-color: #fff;
  display: none;
  min-width: 370px;
  left: 335px;
  top: 39%; }
  .map-section .hover img, .map-section .hover .description, .map-insider .hover img, .map-insider .hover .description {
    border-radius: 8px 0 0 0;
    display: inline-block;
    vertical-align: top; }
  .map-section .hover .description, .map-insider .hover .description {
    margin-left: 15px;
    max-width: 57%;
    padding-right: 10px; }
  .map-section .hover a, .map-insider .hover a {
    background-color: #f04b11;
    border-radius: 0 0 8px 8px;
    color: #fff;
    display: block;
    height: 35px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    width: 100%; }
  .map-section .hover p, .map-insider .hover p {
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0; }
    .map-section .hover p.name, .map-insider .hover p.name {
      font-size: 19px;
      font-weight: 700;
      margin: 5px 0; }
    .map-section .hover p:last-child, .map-insider .hover p:last-child {
      margin-bottom: 0; }
.map-section .search-box, .map-insider .search-box {
  padding-top: 35px;
  width: 390px; }
  .map-section .search-box h3, .map-insider .search-box h3 {
    font-size: 24px;
    font-weight: 400;
    color: #aaa;
    margin: 0 0 30px;
    text-transform: uppercase; }
  .map-section .search-box h3, .map-section .search-box form, .map-insider .search-box h3, .map-insider .search-box form {
    padding-left: 40px; }
  .map-section .search-box label, .map-insider .search-box label {
    font-size: 13px;
    font-weight: 600;
    color: #333333;
    display: block;
    margin: 0 0 15px; }
  .map-section .search-box input[type=text], .map-insider .search-box input[type=text] {
    border: 1px solid #e1e1e1;
    display: block;
    font-size: 15px;
    padding: 15px;
    margin-bottom: 15px;
    width: 250px; }
  .map-section .search-box .submit-btn, .map-insider .search-box .submit-btn {
    position: relative;
    z-index: 1002;
    font-size: 14px;
    font-weight: 700;
    color: #333333;
    border: 2px solid #f04b11;
    background: transparent;
    display: block;
    height: 44px;
    text-decoration: none;
    text-transform: uppercase;
    width: 252px;
    cursor: pointer;
    line-height: 38px;
    font-size: 13px;
    text-align: center;
    margin: 0 0 0 0;
    padding: 2px 0 0; }
    .map-section .search-box .submit-btn:hover, .map-insider .search-box .submit-btn:hover {
      text-decoration: underline; }
.map-section .map-container, .map-section .search-box, .map-insider .map-container, .map-insider .search-box {
  display: inline-block;
  vertical-align: top; }
.map-section .bottom-line .container, .map-insider .bottom-line .container {
  background: url("../images/bottom-line.png") no-repeat;
  background-position: center left;
  background-size: contain;
  height: 50px;
  content: ""; }
@media (max-width: 1189px) {
  .map-section .hover, .map-insider .hover {
    left: 38%; }
  .map-section .search-box, .map-insider .search-box {
    width: 290px; }
    .map-section .search-box .submit-btn, .map-insider .search-box .submit-btn {
      margin: 15px 0 0 0; } }
@media (max-width: 797px) {
  .map-section .map-container, .map-insider .map-container {
    display: none; }
  .map-section .search-box, .map-insider .search-box {
    padding-top: 10px; }
    .map-section .search-box h3, .map-insider .search-box h3 {
      padding-left: 5px; }
    .map-section .search-box form, .map-insider .search-box form {
      padding-left: 5px; }
    .map-section .search-box .submit-btn, .map-insider .search-box .submit-btn {
      margin-left: 0;
      width: 180px; }
  .map-section .hover, .map-insider .hover {
    left: 0;
    top: 15%;
    width: 100%; }
    .map-section .hover img, .map-insider .hover img {
      width: 50%; }
    .map-section .hover .description, .map-insider .hover .description {
      width: calc(50% - 5px); }
      .map-section .hover .description p, .map-insider .hover .description p {
        padding: 0; }
        .map-section .hover .description p.name, .map-insider .hover .description p.name {
          margin-top: 5px; } }

.about-section {
  margin: 0 0 150px; }
  .about-section h2 {
    font-size: 24px;
    font-weight: 400;
    color: #aaaaaa;
    margin: 0 0 25px;
    text-transform: uppercase; }
  .about-section .inside-container {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .about-section .quote, .about-section .text {
    display: inline-block;
    vertical-align: middle;
    width: 50%; }
  .about-section .text {
    font-size: 13px;
    font-weight: 400;
    line-height: 24px; }
    .about-section .text > div {
      font-size: 13px;
      font-weight: 600;
      line-height: 24px; }
  .about-section p.wstep {
    font-size: 13px;
    font-weight: 700; }
  @media (max-width: 1189px) {
    .about-section {
      margin-bottom: 95px; }
      .about-section .quote {
        margin: auto;
        padding-top: 100px; } }
  @media (max-width: 797px) {
    .about-section {
      margin: 15px 0 30px; }
      .about-section .quote, .about-section .text {
        display: block;
        width: 100%; }
      .about-section .quote {
        margin: 0;
        padding-top: 0; }
        .about-section .quote p {
          width: 92%; }
      .about-section .short-line {
        margin: 0 0 30px; } }

.footer {
  background-color: #333333; }
  .footer .container {
    position: relative;
    z-index: 1001;
    padding: 40px 0 25px; }
  .footer .left-col {
    float: left;
    width: 80%; }
  .footer a {
    color: #fff;
    text-decoration: none; }
  .footer .bottom-nav ul {
    display: flex;
    justify-content: space-between;
    width: 550px; }
    .footer .bottom-nav ul li {
      font-size: 12px;
      font-weight: 400; }
      .footer .bottom-nav ul li:hover a {
        text-decoration: underline; }
  .footer .bottom-nav .contact-info {
    float: right;
    margin-top: -17px;
    width: 160px; }
    .footer .bottom-nav .contact-info ul {
      display: block;
      width: 100%; }
  .footer .line {
    background: url("../images/footer-line.png") no-repeat;
    background-position: 0 145px;
    height: 2px;
    padding: 145px 0 55px;
    width: 585px; }
  .footer p, .footer i {
    color: #fff;
    margin: 0; }
  .footer .copyright p {
    font-size: 12px;
    font-weight: 400; }
    .footer .copyright p:first-child {
      margin-bottom: 15px; }
  .footer .copyright .realization {
    display: flex;
    align-items: center; }
    .footer .copyright .realization a {
      padding-top: 5px; }
    .footer .copyright .realization img {
      margin-left: 10px; }
  .footer .contact-info {
    float: right; }
    .footer .contact-info i, .footer .contact-info p {
      font-size: 14px;
      font-weight: 400;
      display: inline-block;
      margin: 0 0 10px; }
    .footer .contact-info i {
      margin-right: 20px;
      width: 20px; }
  .footer #return-to-top-btn {
    position: absolute;
    z-index: 1001;
    background-color: #4b4b4b;
    display: block;
    bottom: 0;
    right: 0;
    font-size: 14px;
    line-height: 35px;
    height: 35px;
    text-align: center;
    width: 115px; }
    .footer #return-to-top-btn span, .footer #return-to-top-btn img {
      display: inline-block;
      vertical-align: middle; }
    .footer #return-to-top-btn img {
      margin-left: 5px; }
    .footer #return-to-top-btn:hover {
      text-decoration: none !important; }
  .footer #return-to-top-btn-mobile {
    position: absolute;
    z-index: 1001;
    background-color: #4b4b4b;
    align-items: center;
    justify-content: center;
    height: 35px;
    right: 0;
    width: 35px;
    text-align: center;
    top: -15px;
    display: none; }
    .footer #return-to-top-btn-mobile:hover {
      text-decoration: none !important; }
    .footer #return-to-top-btn-mobile i {
      margin-top: -2px; }
  @media (max-width: 1189px) {
    .footer .left-col {
      width: 100%; }
    .footer .contact-info i, .footer .contact-info p {
      margin-bottom: 15px; }
    .footer .bottom-nav .contact-info {
      float: left;
      margin-top: 35px; }
      .footer .bottom-nav .contact-info ul {
        width: 100%; } }
  @media (max-width: 797px) {
    .footer .container {
      padding-top: 0; }
    .footer .bottom-nav ul {
      display: none; }
    .footer .line {
      width: 100%; }
    .footer #return-to-top-btn {
      display: none; }
    .footer #return-to-top-btn-mobile {
      display: flex; } }

.subpage-container {
  padding: 20px 0 215px; }
  .subpage-container .left-col {
    width: 780px; }
  .subpage-container .page-content {
    margin-top: 35px; }
  @media (max-width: 1189px) {
    .subpage-container {
      padding-bottom: 80px; }
      .subpage-container .left-col, .subpage-container .right-col {
        width: 100%; }
      .subpage-container .right-col {
        margin-top: 80px; }
        .subpage-container .right-col .contact-boxes {
          margin-top: 0; } }
  @media (max-width: 797px) {
    .subpage-container {
      padding-bottom: 95px; }
      .subpage-container .page-content .pull-left, .subpage-container .page-content .pull-right {
        width: 100%; }
      .subpage-container .page-content .pull-right img {
        display: none; } }

.quote {
  font-size: 32px;
  font-weight: 400;
  display: flex;
  align-items: center;
  font-style: italic;
  padding-top: 30px; }
  .quote p {
    margin: auto;
    width: 380px; }
    .quote p:before {
      background: url("../images/quote.png") no-repeat;
      background-size: cover;
      background-position: center center;
      content: "";
      display: block;
      margin-bottom: 30px;
      height: 35px;
      width: 45px; }
    .quote p:after {
      background-color: #f04b11;
      content: "";
      display: block;
      margin-top: 30px;
      height: 2px;
      width: 75px; }

.orange-frame {
  font-size: 18px;
  font-weight: 700;
  border: 2px solid #f04b11;
  color: #f04b11;
  margin: 20px auto 0;
  padding: 20px 0;
  text-align: center;
  width: 270px; }

.subpage {
  padding: 10px 0 55px; }
  @media (max-width: 1189px) {
    .subpage .pull-left, .subpage .pull-right {
      width: 100%; }
    .subpage .pull-right .contact-boxes {
      margin-bottom: 105px; }
    .subpage .contact .pull-left {
      width: calc(100% - 485px); }
    .subpage .contact .form {
      padding-right: 0;
      width: 485px; } }
  @media (max-width: 797px) {
    .subpage .contact .pull-left, .subpage .contact .from {
      width: 100%; }
    .subpage .contact .form .section {
      width: 100% !important; }
    .subpage .contact-boxes ul li {
      width: 100%; } }

@media (max-width: 1189px) {
  .contact-section .contact-boxes {
    margin-top: 40px; } }

.page-title h1 {
  font-size: 48px;
  font-weight: 700;
  color: #333333;
  margin: 0 0 5px; }
.page-title p {
  margin: 0; }

.page-content {
  font-size: 13px;
  font-weight: 400; }
  .page-content p.wstep {
    font-size: 18px;
    font-weight: 700; }
  .page-content .pull-left, .page-content .pull-right {
    width: 50%; }
  .page-content .subpage-image {
    display: block;
    margin: 0 auto; }

.subpage-slider {
  position: relative;
  z-index: 1001;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center right;
  border-radius: 8px;
  content: "";
  height: 270px;
  width: 100%;
  display: flex;
  align-items: center; }
  .subpage-slider:after {
    position: absolute;
    z-index: 1002;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.9) 35%, transparent 70%);
    content: "";
    display: block;
    height: 100%;
    width: 100%; }
    @media (max-width: 797px) {
      .subpage-slider:after {
        background: rgba(255, 255, 255, 0.6); } }
  .subpage-slider .text {
    position: relative;
    z-index: 1003;
    color: #333333;
    padding-left: 50px; }
  .subpage-slider h1 {
    font-size: 48px;
    font-weight: 700;
    margin: 0 0 15px; }
  .subpage-slider p {
    font-size: 24px;
    font-weight: 700;
    margin: 0; }
    .subpage-slider p.pre-header {
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase; }
    .subpage-slider p.description {
      font-size: 13px;
      font-weight: 600;
      max-width: 50%; }
  @media (max-width: 797px) {
    .subpage-slider {
      height: 270px; }
      .subpage-slider h1 {
        font-size: 28px;
        margin-left: 20px; }
      .subpage-slider .text {
        font-size: 30px;
        padding-left: 20px; }
      .subpage-slider p {
        display: none; } }

.mobile .subpage-slider {
  height: 300px; }

.products {
  padding: 0 0 140px; }
  .products ul {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center; }
    .products ul li {
      text-align: center;
      width: calc(33% - 1px); }
      .products ul li .img-container {
        position: relative;
        z-index: 1002;
        border: 2px solid transparent;
        border-radius: 8px;
        min-height: auto;
        margin: 0 auto;
        overflow: hidden;
        transition: border .3s;
        height: 150px;
        width: 190px; }
        .products ul li .img-container img {
          position: relative;
          z-index: 1001;
          border-radius: 8px;
          margin: 0 auto;
          width: 100%;
          transition: transform .3s;
          -webkit-transition: transform .3s;
          -moz-transition: transform .3s;
          height: auto; }
        .products ul li .img-container:hover {
          border-color: #f04b11; }
          .products ul li .img-container:hover img {
            border-radius: 8px;
            transform: scale(1.05);
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05); }
      .products ul li p {
        color: #333333;
        text-decoration: none !important; }
        .products ul li p.name {
          font-size: 18px;
          font-weight: 700;
          padding: 0 8px; }
        .products ul li p.price {
          font-size: 24px;
          font-weight: 700;
          color: #9cca1f; }
          .products ul li p.price span {
            font-size: 16px;
            font-weight: 700;
            color: #ff0000;
            text-decoration: line-through; }
      .products ul li:hover p.name {
        text-decoration: underline; }
  .products .pull-left {
    width: 780px; }
  .products .pull-right {
    width: 360px; }
    .products .pull-right .quote {
      padding-top: 40px; }
      .products .pull-right .quote p {
        margin: 0; }
    .products .pull-right .contact-boxes {
      margin-top: 0; }
  @media (max-width: 1189px) {
    .products {
      padding-bottom: 105px; }
      .products .pull-left, .products .pull-right {
        width: 100%; }
      .products .pull-left ul {
        justify-content: flex-start; }
      .products .pull-right {
        margin-top: 60px; }
        .products .pull-right .contact-boxes {
          margin: 0 10px; }
          .products .pull-right .contact-boxes ul li, .products .pull-right .contact-boxes ul #contact {
            height: 115px !important; }
            .products .pull-right .contact-boxes ul li a h3, .products .pull-right .contact-boxes ul #contact a h3 {
              padding-top: 15px !important; }
      .products .quote {
        display: none; }
      .products ul li {
        height: 325px; } }
  @media (max-width: 797px) {
    .products ul li {
      width: 100%; } }
  .products .sort-section form {
    margin-bottom: 0; }
  .products .sort-section ul li {
    height: 300px; }
  @media (max-width: 797px) {
    .products .sort-section form {
      text-align: center; }
      .products .sort-section form select {
        border: none;
        font-size: 22px;
        width: 85%; }
      .products .sort-section form option {
        font-size: 15px;
        padding: 5px 0; }
      .products .sort-section form label {
        display: none; } }

.contact-title:after {
  background-color: #333333;
  content: "";
  display: block;
  height: 2px;
  width: 4px; }
.contact-title p {
  margin-bottom: 15px; }

p.lead {
  font-size: 18px;
  font-weight: 700;
  color: #333333; }

.contact {
  padding: 30px 0; }
  .contact p {
    font-size: 13px;
    font-weight: 400;
    color: #333333; }
    .contact p.company-name {
      font-size: 24px;
      font-weight: 700;
      margin: 0 0 15px; }
  .contact .phones {
    margin: 30px 0 0; }
    .contact .phones p {
      font-size: 18px;
      font-weight: 600; }
    .contact .phones i {
      color: #9cca1f;
      display: inline-block;
      margin: 0 12px 10px 0;
      width: 20px; }
  .contact .pull-left {
    width: 270px; }
  .contact .form {
    padding-right: 30px;
    width: 480px; }
  .contact form label {
    font-size: 13px;
    font-weight: 600;
    display: block;
    margin: 15px 0; }
  .contact form input, .contact form textarea {
    border: 1px solid #e1e1e1; }
  .contact form .section {
    display: inline-block;
    margin-right: 30px;
    width: calc(50% - 20px); }
    .contact form .section:nth-child(even) {
      margin-right: 0; }
    .contact form .section input {
      height: 40px;
      width: 100%; }
  .contact form .full-width textarea {
    font-family: 'Open Sans', 'Arial', sans-serif;
    min-height: 170px;
    padding: 10px;
    width: calc(100% - 10px); }
  .contact form .submit-btn {
    font-size: 14px;
    font-weight: 700;
    color: #333333;
    border: 2px solid #9cca1f;
    background: transparent;
    display: block;
    height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    width: 135px;
    float: right;
    line-height: 35px;
    padding: 0;
    margin: 15px 0 0 0; }

.contact-boxes ul li {
  position: relative;
  z-index: 1001;
  margin-top: 8px;
  text-align: left;
  z-index: 1002;
  /*In case of tablet and mobile */ }
  .contact-boxes ul li h3 {
    font-size: 24px;
    font-weight: 700;
    position: relative;
    z-index: 1003;
    color: #fff;
    margin: 0;
    padding: 15px 50px 0;
    max-width: 220px; }
  .contact-boxes ul li#shops {
    position: relative;
    z-index: 1001;
    background: url("../images/shop-box.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 8px;
    content: '';
    display: block;
    height: 130px;
    width: 360px; }
    .contact-boxes ul li#shops:before {
      position: absolute;
      z-index: 1002;
      background: linear-gradient(to right, #ff4e18 35%, transparent 90%);
      border-radius: 8px;
      display: block;
      content: "";
      height: 100%;
      width: 100%; }
    .contact-boxes ul li#shops:after {
      background: #ff4e18; }
    .contact-boxes ul li#shops h3 {
      text-shadow: 0 1px 0 #be2c00; }
  .contact-boxes ul li#promo {
    position: relative;
    z-index: 1001;
    background: url("../images/promo-box.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 8px;
    content: '';
    display: block;
    height: 130px;
    width: 360px; }
    .contact-boxes ul li#promo:before {
      position: absolute;
      z-index: 1002;
      background: linear-gradient(to right, #f8cd82 35%, transparent 90%);
      border-radius: 8px;
      display: block;
      content: "";
      height: 100%;
      width: 100%; }
    .contact-boxes ul li#promo:after {
      background: #b7c50c; }
    .contact-boxes ul li#promo h3 {
      text-shadow: 0 1px 0 #96a113; }
  .contact-boxes ul li#new {
    position: relative;
    z-index: 1001;
    background: url("../images/new-box.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 8px;
    content: '';
    display: block;
    height: 130px;
    width: 360px; }
    .contact-boxes ul li#new:before {
      position: absolute;
      z-index: 1002;
      background: linear-gradient(to right, #85b10d 35%, transparent 90%);
      border-radius: 8px;
      display: block;
      content: "";
      height: 100%;
      width: 100%; }
    .contact-boxes ul li#new:after {
      background: #85b10d; }
    .contact-boxes ul li#new h3 {
      text-shadow: 0 1px 0 #377605; }
  .contact-boxes ul li#shop {
    position: relative;
    z-index: 1001;
    background: url("../images/shop-box.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 8px;
    content: '';
    display: block;
    height: 130px;
    width: 360px; }
    .contact-boxes ul li#shop:before {
      position: absolute;
      z-index: 1002;
      background: linear-gradient(to right, #ff4e18 35%, transparent 90%);
      border-radius: 8px;
      display: block;
      content: "";
      height: 100%;
      width: 100%; }
    .contact-boxes ul li#shop:after {
      background: #ff4e18; }
    .contact-boxes ul li#shop h3 {
      text-shadow: 0 1px 0 #be2c00; }
  .contact-boxes ul li:after {
    position: absolute;
    z-index: 1002;
    border-radius: 8px;
    content: "";
    display: block;
    left: 0;
    width: 0;
    transition: width .4s;
    top: 0;
    z-index: 1001;
    height: 100%; }
  .contact-boxes ul li:hover:after {
    width: 100%; }
  .contact-boxes ul li#contact {
    position: relative;
    z-index: 1001;
    background: url("../images/contact-box.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 8px;
    content: '';
    display: block;
    height: 130px;
    width: 360px;
    background-size: 100%;
    display: flex;
    align-items: center;
    transition: background .3s; }
    .contact-boxes ul li#contact:before {
      position: absolute;
      z-index: 1002;
      background: linear-gradient(to right, transparent 35%, transparent 90%);
      border-radius: 8px;
      display: block;
      content: "";
      height: 100%;
      width: 100%; }
    .contact-boxes ul li#contact h3 {
      text-shadow: 0 1px 0 #1d3261;
      padding: 0 0 0 50px;
      max-width: 100%; }
    .contact-boxes ul li#contact:hover {
      background-size: 130%; }
  .contact-boxes ul li a {
    text-decoration: none !important; }
  .contact-boxes ul li i {
    font-size: 14px;
    font-weight: 400;
    color: #fff; }
  @media (max-width: 1189px) {
    .contact-boxes ul li {
      height: 115px !important;
      width: 240px !important; }
      .contact-boxes ul li:after {
        display: none; } }
  @media (max-width: 797px) {
    .contact-boxes ul li {
      width: 100% !important; } }
@media (max-width: 1189px) {
  .contact-boxes {
    margin-top: 20px; }
    .contact-boxes ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .contact-boxes ul li#shops {
        background: #ff4e18; }
      .contact-boxes ul li#promo {
        background: #f8cd82; }
      .contact-boxes ul li#new {
        background: #85b10d; }
      .contact-boxes ul li#shop {
        background: #ff4e18; }
      .contact-boxes ul li#contact {
        align-items: flex-start;
        background: #5b7eaa; }
        .contact-boxes ul li#contact h3 {
          padding: 25px 30px 0; }
      .contact-boxes ul li h3 {
        font-size: 18px;
        padding: 25px 30px 0; } }

.shops {
  padding: 20px 0 140px; }
  .shops .contact-title:after {
    display: none !important; }
  .shops .left-col {
    width: 780px; }
  .shops .right-col {
    padding-left: 20px;
    width: 360px; }
  .shops .contact {
    padding-top: 5px; }
  .shops .quote {
    padding-top: 15px; }
  .shops form input, .shops form label {
    display: inline-block; }
  .shops form label {
    font-size: 13px;
    font-weight: 400; }
    .shops form label:first-child {
      display: block;
      margin-bottom: 15px; }
    .shops form label.or_label {
      margin: 10px 20px; }
  .shops form input {
    font-size: 13px;
    font-weight: 400;
    padding: 13px;
    width: 220px; }
  .shops form .submit-btn {
    font-size: 14px;
    font-weight: 700;
    color: #333333;
    border: 2px solid #f04b11;
    background: transparent;
    display: block;
    height: 44px;
    text-decoration: none;
    text-transform: uppercase;
    width: 180px;
    color: #333333;
    display: inline-block;
    margin: 0; }
  @media (max-width: 1189px) {
    .shops {
      padding-bottom: 110px; }
      .shops .left-col, .shops .right-col {
        width: 100%; }
      .shops .quote {
        display: none; }
      .shops .submit-btn {
        min-width: 180px;
        width: 180px; }
      .shops .contact-boxes {
        margin-top: 40px; } }
  @media (max-width: 797px) {
    .shops .contact {
      padding-bottom: 30px; }
    .shops form label, .shops form input {
      display: block;
      margin-bottom: 10px; }
    .shops form input {
      width: 230px; }
    .shops form .submit-btn {
      float: left;
      margin-top: 10px; }
    .shops .right-col {
      margin-top: 45px; } }

#map, #front-map {
  height: 380px;
  width: 100%; }

.sort-section form {
  margin: 25px 0; }
  .sort-section form select {
    background: url(../images/dropdown-arrow.png) no-repeat;
    background-position: 94% 50%;
    border: 1px solid #e1e1e1;
    font-size: 13px;
    font-weight: 700;
    height: 40px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px;
    width: 250px; }
  .sort-section form label {
    font-size: 18px;
    font-weight: 700;
    margin-right: 15px; }

/*Pager*/
#pager {
  margin-top: 30px;
  font-size: 14px;
  text-align: center; }
  #pager a {
    color: #aaa;
    padding: 8px 5px;
    font-weight: 700;
    margin: 0 7px;
    text-decoration: none; }
    #pager a.active {
      border: 2px solid #f04b11;
      color: #000; }
  #pager .numbers {
    display: inline-block; }

/*Widok kategorii*/
.attributes-col {
  background-color: #f9f9f9;
  border-radius: 8px;
  display: block;
  min-height: 550px;
  margin: -60px 0 0 -30px;
  float: left;
  padding: 100px 30px 50px;
  width: 240px; }
  .attributes-col h3 {
    margin-top: 0;
    font-size: 18px;
    font-weight: 700; }
  @media (max-width: 797px) {
    .attributes-col {
      display: none; } }

.product-right-col {
  float: right;
  padding: 0 30px;
  width: calc(870px - 60px); }
  @media (max-width: 1189px) {
    .product-right-col {
      padding: 0 10px;
      width: calc(470px - 60px); }
      .product-right-col ul li {
        width: calc(50% - 1px); } }
  @media (max-width: 797px) {
    .product-right-col {
      float: none;
      width: 100%; }
      .product-right-col ul li {
        width: 100%; } }

/*Main search section*/
a.search {
  position: relative;
  z-index: 1001;
  padding-top: 4px; }
  a.search #search {
    position: absolute;
    z-index: 1002;
    border: 1px solid #e5e5e5;
    border-radius: 25px;
    background-color: #fff;
    height: 35px;
    right: 0;
    opacity: 0;
    top: -3px;
    text-align: right;
    transition: width .3s, opacity .3s;
    width: 0; }
    a.search #search form {
      display: inline-block; }
      a.search #search form i {
        position: absolute;
        z-index: 1004;
        right: 15px;
        top: 5px;
        display: inline-block; }
      a.search #search form input {
        position: relative;
        z-index: 1002;
        background-color: transparent;
        display: none;
        border: none;
        padding: 10px;
        vertical-align: middle; }
        a.search #search form input.submit {
          width: 25px; }
        a.search #search form input:focus {
          background-color: transparent;
          border: none;
          box-shadow: none;
          outline: none; }
  a.search i {
    color: #9cca1f;
    cursor: pointer;
    font-size: 22px;
    transition: color .3s; }
    a.search i:hover {
      color: #f04b11; }
  @media (max-width: 797px) {
    a.search i.search {
      display: none; } }

/*AJAX error*/
.map-insider {
  position: relative;
  z-index: 1009; }

.ajax-error {
  position: absolute;
  z-index: 1009;
  background: #aa0000;
  color: #fff;
  display: none;
  text-align: center;
  padding: 10px 0;
  left: 0;
  top: 0;
  width: 100%; }

/*Wyniki wyszukiwania*/
#search-results .header {
  margin-bottom: 30px; }
#search-results ul li {
  width: 25%; }

/*Atrybuty*/
.attributes-col #lscms_bundle_attributes input, .attributes-col #lscms_bundle_attributes label {
  cursor: pointer;
  display: inline-block; }
.attributes-col #lscms_bundle_attributes label {
  position: relative;
  z-index: 1001;
  font-size: 13px;
  font-weight: 700;
  width: 80%; }
  .attributes-col #lscms_bundle_attributes label:before {
    position: absolute;
    z-index: 1002;
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 50%;
    height: 20px;
    content: "";
    left: -36px;
    top: 0;
    display: block;
    width: 20px; }
  .attributes-col #lscms_bundle_attributes label:after {
    position: absolute;
    z-index: 1002;
    background: #9cca1f;
    border-radius: 50%;
    height: 8px;
    content: "";
    left: -29px;
    top: 7px;
    display: none;
    width: 8px; }
  .attributes-col #lscms_bundle_attributes label.selected {
    color: #9cca1f; }
    .attributes-col #lscms_bundle_attributes label.selected:before {
      border-color: #9cca1f !important; }
    .attributes-col #lscms_bundle_attributes label.selected:after {
      display: block !important; }
.attributes-col #lscms_bundle_attributes input {
  opacity: 0;
  margin-bottom: 15px;
  width: 24px; }

#category-search {
  position: relative;
  z-index: 1002;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  height: 40px;
  text-align: right;
  transition: all .4s;
  width: 240px; }
  #category-search form {
    display: inline-block;
    height: 100%;
    width: 100%; }
    #category-search form i {
      position: absolute;
      z-index: 1004;
      right: 10px;
      top: 10px;
      display: inline-block; }
    #category-search form input {
      position: relative;
      z-index: 1002;
      background-color: transparent;
      border: none;
      height: 100%;
      width: 100%; }
      #category-search form input.submit {
        width: 25px; }
      #category-search form input:focus {
        background-color: transparent;
        border: none;
        box-shadow: none;
        outline: none; }
  #category-search i {
    cursor: pointer;
    font-size: 18px;
    transition: color .3s; }
    #category-search i:hover {
      color: #f04b11; }

/*Nanoscroller*/
.nano {
  width: 100%;
  height: calc(100vh - 100px); }
  .nano .nano-pane {
    z-index: 1021; }

#remove-select {
  color: #333;
  display: block;
  font-size: 12px;
  margin: -15px auto 20px;
  width: 100%; }

.popup-banner {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  text-align: center;
  overflow-y: overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
  -ms-align-content: stretch;
  -ms-justify-content: space-between;
  display: -moz-flex;
  -moz-flex-pack: center;
  -moz-flex-wrap: wrap;
  -moz-align-content: stretch;
  -moz-justify-content: space-between;
  display: -webkit-flex;
  -webkit-flex-pack: center;
  -webkit-flex-wrap: wrap;
  -webkit-align-content: stretch;
  -webkit-justify-content: center; }
  .popup-banner .content {
    max-width: 90%;
    max-height: 90%;
    position: relative; }
  .popup-banner img {
    float: left;
    max-width: 100%;
    max-height: 100%; }
  .popup-banner .close {
    cursor: hand;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: -93px;
    background: url("../images/close-popup.png") center no-repeat;
    width: 73px;
    height: 13px; }
    @media (max-width: 1189px) {
      .popup-banner .close {
        top: -20px;
        right: 0; } }
    @media (max-width: 797px) {
      .popup-banner .close {
        top: -20px;
        right: 0; } }
