/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-02-06, 12:07:00
    Author     : Tomek Jacek
*/

@import 'sass/variables.scss';
@import 'sass/mixins.scss';
@import 'sass/breakpoints.scss';
@import 'sass/core.scss';

body {
    margin: 0;
    padding: 0;
    font: {
        family: 'Open Sans', sans-serif;
    }
}
a {
    &:hover {
        text-decoration: underline !important;
    }
}
.container {
    margin: 0 auto;
    width: 1170px;
    @include breakpoint(tablet) {
        padding: 0;
        width: 768px;
    }
    @include breakpoint(mobile) {
        width: 320px;
    }
}
form {
    input[type="text"], textarea {
        padding-left: 10px;
    }
}
/*! importanty na potrzeby nadpisania wyświetlania sie elementu.*/
.tablet, .mobile {
    display: none !important;
}
@include breakpoint(tablet) {
    .tablet {
        display: block !important;
    }
    .desktop, .mobile {
        display: none !important;
    }
}
@include breakpoint(mobile) {
    .mobile {
        display: block !important;
    }
    .desktop, .tablet {
        display: none !important;
    }
}
form {
    .submit-btn {
        cursor: pointer;
    }
}
.dark-upper-bar {
    background-color: $dark-grey;
    height: 35px;
    .container {
        @include position(relative, 1001);
        display: flex;
        align-items: center;
        height: 100%;
        &:after {
            @include position(absolute, 1002);
            bottom: -2px;
            background: url("../images/upper-line.png") no-repeat;
            background-position: center left;
            content: "";
            left: 0;
            height: 2px;
            width: 1100px;
        }
    }
    a {
        color: #fff;
        text-decoration: none;
    }
    ul {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        width: 430px;
        li {
            font: {
                size: 12px;
                weight: 600;
            }
        }
    }
    @include breakpoint(tablet) {
        .container {
            &:after {
                width: 100%;
            }
        }
        ul {
            width: 100%;
        }
    }
    @include breakpoint(mobile) {
        display: none;
    }
}
.main-nav-section {
    @include position(relative, 1010);
    height: 100px;
    width: 100%;
    .container {
        @include position(relative, 1001);
        display: flex;
        align-items: center;
        height: 100%;
    }
    #brand {
        background: url("../images/logo.jpg") no-repeat;
        background-position: center center;
        height: 100%;
        width: 222px;
        a {
            display: block;
            height: 100px;
        }
    }
    ul {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        width: auto;
        max-width: 800px;
        li {
            font: {
                size: 13px;
                weight: 600;
            }
            margin-left: 25px;
            text-transform: uppercase;
        }
    }
    .search {
        margin-left: 25px;
    }
    a {
        color: $dark-grey;
        text-decoration: none;
    }
    .mnav {
        display: none;
    }
    .desktop-nav {
        margin-left: auto;
        width: 800px;
        float: right;
        margin-right: 90px;
    }
    @include breakpoint(tablet) {
        .container {
            justify-content: space-between;
        }
        .desktop-nav {
            display: none;
        }
        .dark-upper-bar-mobile {
            ul {
                display: none;
            }
        }
        a {
            &#mobile-nav-trigger {
                @include position(relative, 1001);
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                float: right;
                margin: {
                    right: 8px;
                    top: 20px;
                }
                height: 55px;
                width: 56px;
                span {
                    background-color: #333;
                    display: block;
                    position: absolute;
                    height: 3px;
                    width: 100%;
                    opacity: 1;
                    left: 0;
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -webkit-transition: .25s ease-in-out;
                    -moz-transition: .25s ease-in-out;
                    -o-transition: .25s ease-in-out;
                    transition: .25s ease-in-out;
                    &:nth-child(1) {
                        top: 0px;
                        -webkit-transform-origin: left center;
                        -moz-transform-origin: left center;
                        -o-transform-origin: left center;
                        transform-origin: left center;
                    }
                    &:nth-child(2) {
                        top: 18px;
                        -webkit-transform-origin: left center;
                        -moz-transform-origin: left center;
                        -o-transform-origin: left center;
                        transform-origin: left center;
                    }

                    &:nth-child(3) {
                        top: 36px;
                        -webkit-transform-origin: left center;
                        -moz-transform-origin: left center;
                        -o-transform-origin: left center;
                        transform-origin: left center;
                    }
                }

                &.open {
                    span {
                        &:nth-child(1) {
                            -webkit-transform: rotate(45deg);
                            -moz-transform: rotate(45deg);
                            -o-transform: rotate(45deg);
                            transform: rotate(45deg);
                            top: -3px;
                            left: 8px;
                        }
                        &:nth-child(2) {
                            width: 0%;
                            opacity: 0;
                        }
                        &:nth-child(3) {
                            -webkit-transform: rotate(-45deg);
                            -moz-transform: rotate(-45deg);
                            -o-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                            top: 39px;
                            left: 8px;
                        }
                    }
                }
            }
        }
        ul {
            @include position(relative, 1020);
            background-color: #fff;
            flex-wrap: wrap;
            margin: auto;
            text-align: center;
            max-width: 100%;
            width: 100%;
            li {
                margin: 0;
                width: 100%;
                a {
                    border-bottom: 1px solid #e4e4e4;
                    padding: 25px 0;
                    display: block;
                    margin: 0 auto;
                    max-width: 300px;
                }
                &:hover {
                    a {
                        text-decoration: none !important;
                    }
                }
            }
        }
        .search {
            display: none;
        }
    }
    @include breakpoint(mobile) {
        ul {
            width: 100%;
        }
        .dark-upper-bar-mobile {
            ul {
                background-color: #333;
                display: block;
                li {
                    text-transform: capitalize;
                    a {
                        border-color: #4b4b4b;
                        color: #fff;
                    }
                }
            }
        }
    }
}
.slider-section {
    width: 100%;
    @include position(relative, 1009);
    @include breakpoint(tablet) {
        display: none !important;
    }
    @include breakpoint(mobile) {
        display: none !important;
    }
    .mobile-slideshow {
        display: none;
    }
    .slideshow {
        overflow-x: hidden;

        .item {
            width: 100%;
        }
    }
    .pager {
        @include position(absolute, 1010);
        text-align: center;
        margin: 0 auto;
        top: 135px;
        left: 0;
        right: 0;
        span {
            color: #fff;
            cursor: pointer;
            font: {
                size: 24px;
            }
            margin: 0 2px 0;
            vertical-align: middle;
            &.cycle-pager-active {
                font: {
                    size: 37px;
                }
            }
        }
    }
    .inside-container {
        @include position(relative, 1002);
    }
    .img-container {
        @include position(relative, 1001);
        text-align: right;
        width: 100%;
        height: 463px;
        overflow: hidden;
        img {
            transition: opacity .4s;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .slide-highlight-wrap {
            width: 100%;
            height: 463px;
            position: absolute;
            left: 0;
            top: 0;
            .slide-highlight {
                margin-top: 200px;
                margin-left: 40px;
                width: 1px;
                height: 1px;
                border-radius: 50%;
                -webkit-box-shadow: 0px 0px 250px 380px rgba(255,255,255,0.9);
                -moz-box-shadow: 0px 0px 250px 380px rgba(255,255,255,0.9);
                box-shadow: 0px 0px 250px 380px rgba(255,255,255,0.9);
            }
        }
        .slider-container {
            width: 1170px;
            margin: 0 auto;
            position: relative;
            .slider-text {
                position: absolute;
                top: -467px;
                left: 0;
                padding-top: 60px;
                color: #333333;
                font-size: 13px;
                font-weight: 600;
                width: 360px;
                text-align: left;
                & > div {
                    line-height: 24px;
                }
                h2 {
                    @include font(48px, 700);
                    color: $dark-grey;
                    font: {
                        size: 48px;
                        weight: 700;
                    }
                    line-height: 120%;
                    margin: 0 0 25px;
                }
                p {
                    @include font(13px, 600);
                    line-height: 180%;
                    margin: 0;
                    max-width: 310px;
                }
                a {
                    position: absolute;
                    left: 0;
                    top: 300px;
                    font-size: 14px;
                    color: #333333;
                    padding: 10px 15px;
                    border: 2px solid #9cca1f;
                    text-decoration: none;
                    text-transform: uppercase;
                    cursor: pointer;
                    font-weight: 700;
                }
            }
        }
    }
    .cycle-pager-active {
        img {
            opacity: 1 !important;
        }
    }
    .controls-wrap {
        margin-top: -55px;
        .slider-thumbs {
            display: flex;
            justify-content: flex-start;
            img {
                border-radius: $border-radius;
                opacity: .5;
                width: 100%;
            }
            .img-container {
                border-radius: $border-radius;
                overflow: hidden;
                width: 100%;
                height: 100%;
            }
            li {
                @include position(relative, 1001);
                border-radius: $border-radius;
                height: 115px;
                cursor: pointer;
                background-color: #ffffff;
                overflow: hidden;
                width: 225px;
                margin-right: 9px;
                &:after {
                    content: '';
                    display: none;
                    width: 125px;
                    height: 55px;
                    @include position(absolute, 1001);
                    top: 74px;
                    left: -40px;
                    -webkit-clip-path: ellipse(50% 48% at 50% 50%);
                    clip-path: ellipse(50% 48% at 50% 50%);
                    background-color: #9cca1f;
                }
                &.cycle-pager-active {
                    &:after {
                        display: block; 
                    }
                }
                .name {
                    @include position(absolute, 1002);
                    left: 20px;
                    bottom: 16px;
                    h2 {
                        margin: 0;
                        color: #333333;
                        line-height: 25px;
                    }
                }
            }
            &:hover {
                li {
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }

    @include breakpoint(tablet) {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        .inside-container {
            width: 620px;
        }
        .slideshow {
            float: left;
        }
        .slider-text {
            order: 3;
            padding: 25px 10px 0;
            width: 768px;
            a {
                @include position(static, 1002);
                margin-top: 15px;
                text-align: center;
                padding-left: 0;
                width: 200px;
                &:after {
                    display: none;
                }
            }
        }
        .img-container {
            order: 1;
            height: 417px;
            width: 620px;    
            img {
                height: 100%;
            }
        }
        .slider-thumbs {
            display: block;
            float: right;
            margin-top: 0;
            order: 2;
            width: 145px;
            img {
                max-width: 100%;
            }
            li {
                /*Wyłączenie całkowicie hoverów w widoku tabletu.*/
                opacity: 1 !important;
                height: 76px;
                width: 100%;
                .name {
                    /*Wyłączenie całkowicie hoverów w widoku tabletu.*/
                    display: none !important;
                }
            }
        }
    }
    @include breakpoint(mobile) {
        .slider-thumbs {
            display: none;
        }
        .mobile-slideshow {
            display: block;
            .slider-text {
                width: 280px;
                h2 {
                    font: {
                        size: 30px;
                    }
                }
            }
            .img-container {
                height: 185px;
                overflow: hidden;
                width: 320px;
                img {
                    height: auto;
                    width: 100%;
                } 
            }
        }
        .main-slideshow {
            display: none;
        }
    }
}
.mobile-slider-wrap {
    width: 100%;
    overflow: hidden;
    display: none;
    @include breakpoint(tablet) {
        display: block;
    }
    .bx-wrapper {
        width: 750px!important;
        margin: 0 auto;
        position: relative;
        @include breakpoint(mobile) {
            width: 300px!important;
        }
        .bx-viewport {
            overflow: visible!important;
            #bx-mobile-slider {
                .item {
                    width: 750px!important;
                    margin-right: 9px;
                    @include breakpoint(mobile) {
                        width: 300px!important;
                    }
                    &.active-slide {
                        .item-content {
                            opacity: 1;
                        }
                    }
                    .item-image {
                        width: 750px!important;
                        height: 395px;
                        @include breakpoint(mobile) {
                            width: 300px!important;
                            height: 188px;
                        }
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
        .bx-controls {
            position: absolute;
            top: 350px;
            width: 750px;
            @include breakpoint(mobile) {
                top: 150px;
                width: 300px;
            }
            .bx-pager {
                display: flex;
                justify-content: center;
                align-items: center;
                .bx-pager-item {
                    line-height: 0;
                    .bx-pager-link {
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        background-color: white;
                        border-radius: 50%;
                        font-size: 0;
                        margin-right: 12px;
                        &.active {
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }
        }
    }
}
.mobile-content-slider-wrap {
    display: none;
    @include breakpoint(tablet) {
        display: block;
    }
    .bx-wrapper {
        .bx-viewport {
            #bx-mobile-content-slider {
                .item-content {
                    overflow: hidden;
                    padding-bottom: 40px;
                    h2 {
                        font-size: 48px;
                        color: #333333;
                        @include breakpoint(tablet) {
                            margin: 30px 0 20px 0;
                        }
                        @include breakpoint(mobile) {
                            font-size: 30px;
                        }
                    }
                    .item-content-text {
                        margin-bottom: 30px;
                    }
                    a {
                        display: inline-block;
                        font-size: 14px;
                        color: #333333;
                        padding: 10px 15px;
                        border: 2px solid #9cca1f;
                        text-decoration: none;
                        text-transform: uppercase;
                        cursor: pointer;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
.promotions-section {
    background-color: #f9f9f9;
    padding: 55px 0 60px;
    margin-top: -55px;
    @include breakpoint(tablet) {
        clear: both;
        margin-top: 25px;
    }
    .orange-header {
        @include font(24px, 400);
        color: $orange;
        margin: 40px 0;
        text-transform: uppercase;
    }
    a {
        color: $dark-grey;
    }
    .container {
        .promoted, .newest {
            display: inline-block;
            width: 49%;
            vertical-align: top;
            img {
                border-radius: 8px;
                display: inline-block;
                vertical-align: middle;
                transition: transform .3s;
                -webkit-transition: transform .3s;
                -moz-transition: transform .3s;
            }
            .img-container {
                @include position(relative, 1002);
                border-radius: 8px;
                height: auto;
                width: 156px;
                overflow: hidden;
            }
            img {
                @include position(relative, 1001);
                border-radius: 8px;
                margin: 0 auto;
                width: 100%;
                height: auto;
            }
            .img-container, .description {
                display: inline-block;
                vertical-align: middle;
            }
            .description {
                height: 100%;
                max-width: 50%;
                padding: 0 25px;
                p {
                    margin: 0;
                    &.name {
                        @include font(24px, 700);
                        margin-bottom: 25px;
                    }
                    &.price {
                        @include font(24px, 700);
                        color: $green;
                        span {
                            color: #ff0000;
                            font-size: 16px;
                            margin-left: 12px;
                            text-decoration: line-through;
                        }
                    }
                }
            }
            li {
                a {
                    text-decoration: none;
                }
                &:hover {
                    > a {
                        text-decoration: none !important;
                    }
                    .img-container {
                        border-color: $orange;
                    }
                    img {
                        border-radius: 8px;
                        transform: scale(1.05);
                        -webkit-transform: scale(1.05);
                        -moz-transform: scale(1.05);
                    }
                    p {
                        text-decoration: underline;
                    }
                    .price {
                        text-decoration: none;
                    }
                }
                .img-container {
                    border: 2px solid transparent;
                    transition: border .3s;
                }

            }
            a {
                &.main {
                    text-decoration: none;
                }
            }
        }
    }
    @include breakpoint(tablet) {
        padding: 0 0 5px;
        .container {
            .promoted, .newest {
                img {
                    display: block;
                }
                .description {
                    padding: 20px 0;
                    max-width: 80%;
                }
            }
        }
    }
    @include breakpoint(mobile) {
        padding: 30px 0 20px;
        .container {
            .promoted, .newest {
                min-height: 300px;
                padding: 15px 0;
                width: 100%;
                li {
                    .img-container {
                        display: block;
                        img {
                            display: block;
                            max-width: 100%;
                        }
                    }
                }
                .description {
                    max-width: 100%;
                }
            }
            .orange-header {
                margin-top: 0;
            }
        }
    }
}
.middle-line {
    .container {
        background: url("../images/middle-line.png") no-repeat;
        background-position: center left;
        height: 60px;
        content: "";
    }
    @include breakpoint(tablet) {
        .container {
            margin: 0 auto;
            width: 100%;
        }
    }

}
.bottom-line {
    height: 50px;
}
.map-section, .map-insider {
    .map-container {
        @include position(relative, 1001);
        height: 380px;
        width: 780px;
        @include breakpoint(tablet) {
            width: 460px;
        }
    }
    .map {
        background: url("../images/map.jpg") no-repeat;
        background-position: center center;
        background-size: contain;
        content: "";
        height: 380px;
        width: 780px;
    }
    .hover {
        @include position(absolute, 1004);
        border: 1px solid #dcdcdc;
        border-radius: 8px;
        background-color: #fff;
        display: none;
        min-width: 370px;
        left: 335px;
        top: 39%;
        img, .description {
            border-radius: 8px 0 0 0;
            display: inline-block;
            vertical-align: top;
        }
        .description {
            margin-left: 15px;
            max-width: 57%;
            padding-right: 10px;
        }
        a {
            $value: 35px;
            $radius: 8px;
            background-color: $orange;
            border-radius: 0 0 $radius $radius;
            color: #fff;
            display: block;
            height: 35px;
            line-height: 35px;
            text-align: center;
            text-decoration: none;
            width: 100%;
        }
        p {
            @include font(14px, 600);
            margin: 0 0 5px;
            padding: 0;
            &.name {
                @include font(19px, 700);
                margin: 5px 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .search-box {
        padding-top: 35px;
        width: 390px;
        h3 {
            @include font(24px, 400);
            color: #aaa;
            margin: 0 0 30px;
            text-transform: uppercase;
        }
        h3, form {
            padding-left: 40px;
        }
        label {
            @include font(13px, 600);
            color: $dark-grey;
            display: block;
            margin: 0 0 15px;
        }
        input[type=text] {
            border: 1px solid #e1e1e1;
            display: block;
            font: {
                size: 15px;
            }
            padding: 15px;
            margin-bottom: 15px;
            width: 250px;
        }
        .submit-btn {
            @include position(relative, 1002);
            @include ghost-btn(252px, $orange, 44px);
            cursor: pointer;
            line-height: 38px;
            font: {
                size: 13px;
            }
            text-align: center;
            margin: 0 0 0 0;
            padding: 2px 0 0;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .map-container, .search-box {
        display: inline-block;
        vertical-align: top;
    }
    .bottom-line {
        .container {
            background: url("../images/bottom-line.png") no-repeat;
            background-position: center left;
            background-size: contain;
            height: 50px;
            content: "";
        }
    }
    @include breakpoint(tablet) {
        .hover {
            left: 38%;
        }
        .search-box {
            width: 290px;
            .submit-btn {
                margin: 15px 0 0 0;
            }
        }
    }
    @include breakpoint(mobile) {
        .map-container {
            display: none;
        }
        .search-box {
            padding-top: 10px;
            h3 {
                padding-left: 5px;
            }
            form {
                padding-left: 5px;
            }
            .submit-btn {
                margin-left: 0;
                width: 180px;
            }
        }
        .hover {
            left: 0;
            top: 15%;
            width: 100%;
            img {
                width: 50%;
            }
            .description {
                width: calc(50% - 5px);
                p {
                    padding: 0;
                    &.name {
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}
.about-section {
    margin: 0 0 150px;
    h2 {
        @include font(24px, 400);
        color: #aaaaaa;
        margin: 0 0 25px;
        text-transform: uppercase;
    }
    .inside-container {
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .quote, .text {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
    }
    .text {
        @include font(13px, 400);
        line-height: 24px;
        & > div {
            @include font(13px, 600);
            line-height: 24px;
        }
    }
    p {
        &.wstep {
            font: {
                size: 13px;
                weight: 700;
            }
        }
    }
    @include breakpoint(tablet) {
        margin-bottom: 95px;
        .quote {
            margin: auto;
            padding-top: 100px;
        }
    }
    @include breakpoint(mobile) {
        margin: 15px 0 30px;
        .quote, .text {
            display: block;
            width: 100%;
        }
        .quote {
            margin: 0;
            padding-top: 0;
            p {
                width: 92%;
            }
        }
        .short-line {
            margin: 0 0 30px;
        }
    }
}
.footer {
    background-color: #333333;
    .container {
        @include position(relative, 1001);
        padding: 40px 0 25px; 
    }
    .left-col {
        float: left;
        width: 80%;
    }
    a {
        color: #fff;
        text-decoration: none;
    }
    .bottom-nav {
        ul {
            display: flex;
            justify-content: space-between;
            width: 550px;
            li {
                @include font(12px, 400);
                &:hover {
                    a {
                        text-decoration: underline;
                    }
                }
            }
        }
        .contact-info {
            float: right;
            margin-top: -17px;
            width: 160px;
            ul{
                display: block;
                width: 100%;
            }
        }
    }
    .line {
        background: url("../images/footer-line.png") no-repeat;
        background-position: 0 145px;
        height: 2px;
        padding: 145px 0 55px;
        width: 585px;
    }
    p, i {
        color: #fff;
        margin: 0;
    }
    .copyright {
        p {
            @include font(12px, 400);
            &:first-child {
                margin-bottom: 15px;
            }
        }
        .realization {
            display: flex;
            align-items: center;
            a {
                padding-top: 5px;
            }
            img {
                margin-left: 10px;
            }
        }
    }
    .contact-info {
        float: right;
        i, p {
            @include font(14px, 400);
            display: inline-block;
            margin: 0 0 10px;
        }
        i {
            margin-right: 20px;
            width: 20px;
        }
    }
    #return-to-top-btn {
        @include position(absolute, 1001);
        background-color: #4b4b4b;
        display: block;
        bottom: 0;
        right: 0;
        font: {
            size: 14px;
        }
        line-height: 35px;
        height: 35px;
        text-align: center;
        width: 115px;
        span, img {
            display: inline-block;
            vertical-align: middle;
        }
        img {
            margin-left: 5px;
        }
        &:hover {
            text-decoration: none !important;
        }
    }
    #return-to-top-btn-mobile {
        @include position(absolute, 1001);
        $value: 35px;
        background-color: #4b4b4b;
        align-items: center;
        justify-content: center;
        height: $value;
        right: 0;
        width: $value;
        text-align: center;
        top: -15px;
        display: none;
        &:hover {
            text-decoration: none !important;
        }
        i {
            margin-top: -2px;
        }
    }
    @include breakpoint(tablet) {
        .left-col {
            width: 100%;
        }
        .contact-info {
            i, p {
                margin-bottom: 15px;
            }
        }
        .bottom-nav {
            .contact-info {
                float: left;
                margin-top: 35px;
                ul {
                    width: 100%;
                }
            }
        }
    }
    @include breakpoint(mobile) {
        .container {
            padding-top: 0;
        }
        .bottom-nav {
            ul {
                display: none;
            }
        }
        .line {
            width: 100%;
        }
        #return-to-top-btn {
            display: none;
        }
        #return-to-top-btn-mobile {
            display: flex;
        }
    }
}
// Podstrony
.subpage-container {
    padding: 20px 0 215px;
    .left-col {
        width: 780px;
    }
    .page-content {
        margin-top: 35px;
    }
    @include breakpoint(tablet) {
        padding-bottom: 80px;
        .left-col, .right-col {
            width: 100%;
        }
        .right-col {
            margin-top: 80px;
            .contact-boxes {
                margin-top: 0;
            }
        }
    }
    @include breakpoint(mobile) {
        padding-bottom: 95px;
        .page-content {
            .pull-left, .pull-right {
                width: 100%;
            }
            .pull-right {
                img {
                    display: none;
                }
            }
        }
    }
}
.quote {
    @include font(32px, 400);
    display: flex;
    align-items: center;
    font-style: italic;
    padding-top: 30px;
    p {
        margin: auto;
        width: 380px;
        &:before {
            background: url("../images/quote.png") no-repeat;
            background-size: cover;
            background-position: center center;
            content: "";
            display: block;
            margin-bottom: 30px;
            height: 35px;
            width: 45px;
        }
        &:after {
            background-color: $orange;
            content: "";
            display: block;
            margin-top: 30px;
            height: 2px;
            width: 75px;
        }
    }
}
.orange-frame {
    @include font(18px, 700);
    border: 2px solid $orange;
    color: $orange;
    margin: 20px auto 0;
    padding: 20px 0;
    text-align: center;
    width: 270px;
}
.subpage {
    padding: 10px 0 55px;
    @include breakpoint(tablet) {
        .pull-left, .pull-right {
            width: 100%;
        }
        .pull-right {
            .contact-boxes {
                margin-bottom: 105px;
            }
        }
        .contact {
            .pull-left {
                width: calc(100% - 485px);
            }
            .form {
                padding-right: 0;
                width: 485px;
            }
        }
    }
    @include breakpoint(mobile) {
        .contact {
            .pull-left, .from {
                width: 100%;
            }
            .form {
                .section {
                    width: 100% !important;
                }
            }
        }
        .contact-boxes {
            ul {
                li {
                    width: 100%;    
                }
            }
        }
    }
}
.contact-section {
    @include breakpoint(tablet) {
        .contact-boxes {
            margin-top: 40px;
        }
    }
}
.page-title {
    h1 {
        @include font(48px, 700);
        color: $dark-grey;
        margin: 0 0 5px;
    }
    p {
        margin: 0;
    }
}
.page-content {
    @include font(13px, 400);
    p.wstep {
        @include font(18px, 700);
    }
    .pull-left, .pull-right {
        width: 50%;
    }
    .subpage-image {
        display: block;
        margin: 0 auto;
    }
}
.subpage-slider {
    @include position(relative, 1001);
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center right;
    border-radius: $border-radius;
    content: "";
    height: 270px;
    width: 100%;
    display: flex;
    align-items: center;
    &:after {
        @include position(absolute, 1002);
        background: linear-gradient(to right, rgba(#fff, .9) 35%, transparent 70%);
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        @include breakpoint(mobile) {
            background: rgba(#fff, .6);
        }
    }
    .text {
        @include position(relative, 1003);
        color: $dark-grey;
        padding-left: 50px;
    }
    h1 {
        @include font(48px, 700);
        margin: 0 0 15px;
    }
    p {
        @include font(24px, 700);
        margin: 0;
        &.pre-header {
            font: {
                size: 24px;
                weight: 400;
            }
            text-transform: uppercase;
        }
        &.description {
            font: {
                size: 13px;
                weight: 600;
            }
            max-width: 50%;
        }
    }
    @include breakpoint(mobile) {
        height: 270px;
        h1 {
            font: {
                size: 28px;
            }
            margin-left: 20px;
        }
        .text {
            font-size: 30px;
            padding-left: 20px;
        }
        p {
            display: none;
        }
    }
}
.mobile {
    .subpage-slider {
        height: 300px;
    }
}
// Produkty
.products {
    padding: 0 0 140px;
    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
        li {
            text-align: center;
            width: calc(33% - 1px);
            .img-container {
                @include position(relative, 1002);
                border: 2px solid transparent;
                border-radius: $border-radius;
                min-height: auto;
                margin: 0 auto;
                overflow: hidden;
                transition: border .3s;
                height: 150px;
                width: 190px;
                img {
                    @include position(relative, 1001);
                    border-radius: $border-radius;
                    margin: 0 auto;
                    width: 100%;
                    transition: transform .3s;
                    -webkit-transition: transform .3s;
                    -moz-transition: transform .3s;
                    height: auto;
                }
                &:hover {
                    border-color: $orange;
                    img {
                        border-radius: 8px;
                        transform: scale(1.05);
                        -webkit-transform: scale(1.05);
                        -moz-transform: scale(1.05);
                    }
                }
            }
            p {
                color: $dark-grey;
                text-decoration: none !important;
                &.name {
                    @include font(18px, 700);
                    padding: 0 8px;
                }
                &.price {
                    @include font(24px, 700);
                    color: $green;
                    span {
                        @include font(16px, 700);
                        color: $red;
                        text-decoration: line-through;
                    }
                }
            }
            &:hover {
                p.name {
                    text-decoration: underline;
                }
            }
        }
    }
    .pull-left {
        width: 780px;
    }
    .pull-right {
        width: 360px;
        .quote {
            padding-top: 40px;
            p {
                margin: 0;
            }
        }
        .contact-boxes {
            margin-top: 0;
        }
    }
    @include breakpoint(tablet) {
        padding-bottom: 105px;
        .pull-left, .pull-right {
            width: 100%;
        }
        .pull-left {
            ul {
                justify-content: flex-start;
            }
        }
        .pull-right {
            margin-top: 60px;
            .contact-boxes {
                margin: 0 10px;
                ul {
                    li, & #contact {
                        height: 115px !important;
                        a {
                            h3 {
                                padding-top: 15px !important;
                            }
                        }
                    }
                }
            }
        }
        .quote {
            display: none;
        }
        ul {
            li {
                height: 325px;
            }
        }
    }
    @include breakpoint(mobile) {
        ul {
            li {
                width: 100%;
            }
        }
    }
    .sort-section {
        form {
            margin-bottom: 0;
        }
        ul {
            li {
                height: 300px;
            }
        }
        @include breakpoint(mobile) {
            form {
                text-align: center;
                select {
                    border: none;
                    font: {
                        size: 22px;
                    }
                    width: 85%;
                }
                option {
                    font-size: 15px;
                    padding: 5px 0;
                }
                label {
                    display: none;
                }
            }
        }
    }
}
// kontakt
.contact-title {
    &:after {
        background-color: $dark-grey;
        content: "";
        display: block;
        height: 2px;
        width: 4px;
    }
    p {
        margin-bottom: 15px;
    }
}
p {
    &.lead {
        @include font(18px, 700);
        color: $dark-grey;
    }
}
.contact {
    padding: 30px 0;
    p {
        @include font(13px, 400);
        color: $dark-grey;
        &.company-name {
            @include font(24px, 700);
            margin: 0 0 15px;
        }
    }
    .phones {
        margin: 30px 0 0;
        p {
            @include font(18px, 600);
        }
        i {
            color: $green;
            display: inline-block;
            margin: 0 12px 10px 0;
            width: 20px;
        }
    }
    .pull-left {
        width: 270px;
    }
    .form {
        padding-right: 30px;
        width: 480px;
    }
    form {
        label {
            @include font(13px, 600);
            display: block;
            margin: 15px 0;
        }
        input, textarea {
            border: 1px solid #e1e1e1;
        }
        .section {
            display: inline-block;
            margin-right: 30px;
            width: calc(50% - 20px);
            &:nth-child(even) {
                margin-right: 0;
            }
            input {
                height: 40px;
                width: 100%;
            }
        }
        .full-width {
            textarea {
                font: {
                    family: 'Open Sans', 'Arial', sans-serif;
                }
                min-height: 170px;
                padding: 10px;
                width: calc(100% - 10px);
            }
        }
        .submit-btn {
            @include ghost-btn(135px, $green, 40px);
            float: right;
            line-height: 35px;
            padding: 0;
            margin: 15px 0 0 0;
        }
    }
}
.contact-boxes {
    ul {
        li {
            @include position(relative, 1001);
            $height: 130px;
            $width: 360px;
            margin-top: 8px;
            text-align: left;

            h3 {
                @include font(24px, 700);
                @include position(relative, 1003);
                color: #fff;
                margin: 0;
                padding: 15px 50px 0;
                max-width: 220px;
            }
            &#shops {
                @include gradiented-box('../images/shop-box.jpg', $height, $width, #ff4e18, transparent);
                &:after {
                    background: #ff4e18;
                }
                h3 {
                    @include text-shadow(#be2c00);
                }
            }
            &#promo {
                @include gradiented-box('../images/promo-box.jpg', $height, $width, #f8cd82, transparent);
                &:after {
                    background: #b7c50c;
                }
                h3 {
                    @include text-shadow(#96a113);
                }
            }
            &#new {
                @include gradiented-box('../images/new-box.jpg', $height, $width, #85b10d, transparent);
                &:after {
                    background: #85b10d;
                }
                h3 {
                    @include text-shadow(#377605);
                }
            }
            &#shop {
                @include gradiented-box('../images/shop-box.jpg', $height, $width, #ff4e18, transparent);
                &:after {
                    background: #ff4e18;
                }
                h3 {
                    @include text-shadow(#be2c00);
                }
            }
            z-index: 1002;
            &:after {
                @include position(absolute, 1002);
                border-radius: $border-radius;
                content: "";
                display: block;
                left: 0;
                width: 0;
                transition: width .4s;
                top: 0;
                z-index: 1001;
                height: 100%;
            }
            &:hover:after {
                width: 100%;
            }
            &#contact {
                @include gradiented-box('../images/contact-box.jpg', $height, $width, transparent, transparent);
                background-size: 100%;
                display: flex;
                align-items: center;
                transition: background .3s;
                h3 {
                    @include text-shadow(#1d3261);
                    padding: 0 0 0 50px;
                    max-width: 100%;
                }
                &:hover {
                    background-size: 130%;
                }
            }
            a {
                text-decoration: none !important;
            }
            i {
                @include font(14px, 400);
                color: #fff;
            }
            /*In case of tablet and mobile */
            @include breakpoint(tablet) {
                height: 115px !important;
                width: 240px !important;
                &:after {
                    display: none;
                }
            }
            @include breakpoint(mobile) {
                width: 100% !important;
            }
        }
    }
    @include breakpoint(tablet) {
        margin-top: 20px;
        ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            li {
                &#shops {
                    background: #ff4e18;
                }
                &#promo {
                    background: #f8cd82;
                }
                &#new {
                    background: #85b10d;
                }
                &#shop {
                    background: #ff4e18;
                }
                &#contact {
                    align-items: flex-start;
                    background: #5b7eaa;
                    h3 {
                        padding: 25px 30px 0;
                    }
                }
                h3 {
                    font: {
                        size: 18px;
                    }
                    padding: 25px 30px 0;
                }
            }
        }
    }
}
.shops {
    padding: 20px 0 140px;
    .contact-title:after {
        display: none !important;
    }
    .left-col {
        width: 780px;
    }
    .right-col {
        padding-left: 20px;
        width: 360px;
    }
    .contact {
        padding-top: 5px;
    }
    .quote {
        padding-top: 15px;
    }
    form {
        input, label {
            display: inline-block;
        }
        label {
            @include font(13px, 400);
            &:first-child {
                display: block;
                margin-bottom: 15px;
            }
            &.or_label {
                margin: 10px 20px;
            }
        }
        input {
            @include font(13px, 400);
            padding: 13px;
            width: 220px;
        }
        .submit-btn {
            @include ghost-btn(180px, $orange, 44px);
            color: $dark-grey;
            display: inline-block;
            margin: 0;
        }
    }
    @include breakpoint(tablet) {
        padding-bottom: 110px;
        .left-col, .right-col {
            width: 100%;
        }
        .quote {
            display: none;
        }
        .submit-btn {
            min-width: 180px;
            width: 180px;
        }
        .contact-boxes {
            margin-top: 40px;
        }
    }
    @include breakpoint(mobile) {
        .contact {
            padding-bottom: 30px;
        }
        form {
            label, input {
                display: block;
                margin-bottom: 10px;
            }
            input {
                width: 230px;
            }
            .submit-btn {
                float: left;
                margin-top: 10px;
            }
        }
        .right-col {
            margin-top: 45px;
        }
    }
}
#map, #front-map {
    height: 380px;
    width: 100%;
}
.sort-section {
    form {
        margin: 25px 0;
        select {
            background: url(../images/dropdown-arrow.png) no-repeat;
            background-position: 94% 50%;
            border: 1px solid #e1e1e1;
            font: {
                size: 13px;
                weight: 700;
            }
            height: 40px;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            padding: 10px;
            width: 250px;
        }
        label {
            font: {
                size: 18px;
                weight: 700;
            }
            margin-right: 15px;
        }
    }
}
/*Pager*/
#pager {
    margin-top: 30px;
    font: {
        size: 14px;
    }
    text-align: center; 
    a {
        color: #aaa;
        padding: 8px 5px;
        font-weight: 700;
        margin: 0 7px;
        text-decoration: none;
        &.active {
            border: 2px solid $orange;
            color: #000;
        }
    }
    .numbers {
        display: inline-block;
    }
}
/*Widok kategorii*/
.attributes-col {
    background-color: #f9f9f9;
    border-radius: $border-radius;
    display: block;
    min-height: 550px;
    margin: -60px 0 0 -30px;
    float: left;
    padding: 100px 30px 50px;
    width: 240px;
    h3 {
        margin-top: 0;
        font: {
            size: 18px;
            weight: 700;
        }
    }
    @include breakpoint(mobile) {
        display: none;
    }
}
.product-right-col {
    float: right;
    padding: 0 30px;
    width: calc(870px - 60px);
    @include breakpoint(tablet) {
        padding: 0 10px;
        width: calc(470px - 60px);
        ul {
            li {
                width: calc(50% - 1px);
            }
        }
    }
    @include breakpoint(mobile) {
        float: none;
        width: 100%;
        ul {
            li {
                width: 100%;
            }
        }
    }
}
/*Main search section*/
a.search {
    @include position(relative, 1001);
    padding-top: 4px;
    #search {
        @include position(absolute, 1002);
        border: 1px solid #e5e5e5;
        border-radius: 25px;
        background-color: #fff;
        height: 35px;
        right: 0;
        opacity: 0;
        top: -3px;
        text-align: right;
        transition: width .3s, opacity .3s;
        width: 0;
        form {
            display: inline-block;
            i {
                @include position(absolute, 1004);
                right: 15px;
                top: 5px;
                display: inline-block;
            }
            input {
                @include position(relative, 1002);
                background-color: transparent;
                display: none;
                border: none;
                padding: 10px;
                vertical-align: middle;
                &.submit {
                    width: 25px;
                }
                &:focus {
                    background-color: transparent;
                    border: none;
                    box-shadow: none;
                    outline: none;
                }
            }
        }
    }
    i {
        color: $green;
        cursor: pointer;
        font: {
            size: 22px;
        }
        transition: color .3s;
        &:hover {
            color: $orange;
        }
    }
    @include breakpoint(mobile) {
        i.search {
            display: none;
        }
    }
}
/*AJAX error*/
.map-insider {
    @include position(relative, 1009);

}
.ajax-error {
    @include position(absolute, 1009);
    background: #aa0000;
    color: #fff;
    display: none;
    text-align: center;
    padding: 10px 0;
    left: 0;
    top: 0;
    width: 100%;
}
/*Wyniki wyszukiwania*/
#search-results {
    .header {
        margin-bottom: 30px;    
    }
    ul {
        li {
            width: 25%;
        }
    }
}
/*Atrybuty*/
.attributes-col {
    #lscms_bundle_attributes {
        input, label {
            cursor: pointer;
            display: inline-block;
        }
        label {
            $color: 9cca1f;
            @include position(relative, 1001);
            font: {
                size: 13px;
                weight: 700;
            }
            width: 80%;
            &:before {
                $value: 20px;
                @include position(absolute, 1002);
                background: #fff;
                border: 1px solid #e2e2e2;
                border-radius: 50%;
                height: $value;
                content: "";
                left: -36px;
                top: 0;
                display: block;
                width: $value;
            }
            &:after {
                $value: 8px;
                @include position(absolute, 1002);
                background: $green;
                border-radius: 50%;
                height: $value;
                content: "";
                left: -29px;
                top: 7px;
                display: none;
                width: $value;
            }
            &.selected {
                color: $green;
                &:before {
                    border-color: $green !important;
                }
                &:after {
                    display: block !important;
                }
            }
        }
        input {
            opacity: 0;
            margin-bottom: 15px;
            width: 24px;
        }
    }
}

#category-search {
    @include position(relative, 1002);
    border: 1px solid #e1e1e1;
    background-color: #fff;
    height: 40px;
    text-align: right;
    transition: all .4s;
    width: 240px;
    form {
        display: inline-block;
        height: 100%;
        width: 100%;
        i {
            @include position(absolute, 1004);
            right: 10px;
            top: 10px;
            display: inline-block;
        }
        input {
            @include position(relative, 1002);
            background-color: transparent;
            border: none;
            height: 100%;
            width: 100%;
            &.submit {
                width: 25px;
            }
            &:focus {
                background-color: transparent;
                border: none;
                box-shadow: none;
                outline: none;
            }
        }
    }
    i {
        cursor: pointer;
        font: {
            size: 18px;
        }
        transition: color .3s;
        &:hover {
            color: $orange;
        }
    }
}
/*Nanoscroller*/
.nano { 
    width: 100%;
    height: calc(100vh - 100px);
    .nano-pane   { 
        z-index: 1021;
    }
}
#remove-select {
    color: #333;
    display: block;
    font: {
        size: 12px;
    }
    margin: -15px auto 20px;
    width: 100%;
}

.popup-banner {
    background: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    text-align: center;
    overflow-y: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-wrap: wrap;
    -ms-align-content: stretch;
    -ms-justify-content: space-between;
    display: -moz-flex;
    -moz-flex-pack: center;
    -moz-flex-wrap: wrap;
    -moz-align-content: stretch;
    -moz-justify-content: space-between;
    display: -webkit-flex;
    -webkit-flex-pack: center;
    -webkit-flex-wrap: wrap;
    -webkit-align-content: stretch;
    -webkit-justify-content: center;

    .content {
        max-width: 90%;
        max-height: 90%;
        position: relative;
    }

    img {
        float: left;
        max-width: 100%;
        max-height: 100%;
    }

    .close {
        cursor: hand;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: -93px;
        background: url("../images/close-popup.png") center no-repeat;
        width: 73px;
        height: 13px;

        @include breakpoint(tablet) {
            top: -20px;
            right: 0;
        }

        @include breakpoint(mobile) {
            top: -20px;
            right: 0;
        }
    }
}