<div class="newest">
    <a href="{{ path('lscms_product_newest') }}" class="main">
        <h3 class="orange-header">Nowości produktowe</h3>
    </a>
    <ul class="unstyled inline cycle-slideshow"
            data-cycle-fx="fade"
            data-cycle-visible="1"
            data-cycle-slides="> li"
            data-cycle-timeout="10000"
            data-cycle-speed="600"
        >
        {% for product in products %}
            <li>
                <a href="{{ product.getPhotoWebPath() }}" class="colorbox">
                    <div class="img-container">
                        <img src="{{ product.getThumbWebPath('list') }}" alt="{{ product.name }}" />
                    </div>
                    <div class="description">
                        <p class="name">{{ product.name }}</p>
                        <p class="price">
                            {{ product.price|number_format(2, '.') }} zł
                        </p>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>