<div class="promoted">
    <a href="{{ path('lscms_product_promotion') }}" class="main">
        <h3 class="orange-header">Aktualne promocje</h3>
    </a>
    <ul class="unstyled inline cycle-slideshow"
            data-cycle-fx="fade"
            data-cycle-visible="1"
            data-cycle-slides="> li"
            data-cycle-timeout="10000"
            data-cycle-speed="600"
        >
        {% for product in products %}
            <li>
                <a href="{{ path('lscms_product_promotion') }}">
                    <a href="{{ product.getPhotoWebPath() }}" class="colorbox">
                        <div class="img-container">
                            <img src="{{ product.getThumbWebPath('list') }}" alt="{{ product.name }}" />
                        </div>
                        <div class="description">
                            <p class="name">{{ product.name }}</p>
                            <p class="price">
                                {{ product.price|number_format(2, '.') }} zł<span>{{ product.promotionPrice|number_format(2, '.') }} zł</span>
                            </p>
                        </div>
                    </a>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
