<div class="sort-section">
    {% if location is defined %}
        {{ form_start(form, { 'action': path(location), 'method': 'POST' }) }}
    {% else %}
        {{ form_start(form, { 'action': path('lscms_productCategory_show', {'slug': slug}), 'method': 'POST' }) }}
    {% endif %}

    {{ form_end(form) }}
</div>
