{% extends '::base.html.twig' %}

{% block title %}{{ subpageTitle }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="subpage-slider" style="background: url('{{ location == 'lscms_product_new' ? '/bundles/lscms/images/new-box.jpg' : '/bundles/lscms/images/promo-box.jpg' }} ') no-repeat center center">
            <div class="text">
                <h1>{{ subpageTitle }}</h1>
                <p>
                    {{ subpageDesc }}<br />
                    Bądź na bieżąco!
                </p>
            </div>
        </div>
        <div class="products clearfix">
            <div class="pull-left">
                {% if products is not empty %}
                {% include('LsCmsBundle:Product:_sort.html.twig') %}
                <div class="page-content">
                    <ul class="unstyled inline">
                        {% for product in products %}
                            <li>
                                {% if product.photo %}
                                    <div class="img-container">
                                        <a href="{{ product.getPhotoWebPath() }}">
                                            <img src="{{ product.getThumbWebPath('list') }}" alt="zdjęcie produktu - {{ product.name }}"/>
                                        </a>
                                    </div>
                                {% endif %}
                                <p class="name">{{ product.name }}</p>

                                {% if product.quantity %}
                                    <p class="quantity">Dostępne: {{ product.quantity | default(0) }} szt.</p>
                                {% endif %}

                                {% if product.promotionPrice > 0 %}
                                    <p class="price">
                                        {{ product.price|number_format(2, '.') }} zł <span>{{ product.promotionPrice|number_format(2, '.') }} zł</span>
                                    </p>
                                {% else %}
                                    <p class="price">
                                        {{ product.price|number_format(2, '.') }} zł
                                    </p>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    {{ knp_pagination_render(products) }}
                </div>
                {% else %}
                    <p>
                        Brak produktów.
                    </p>
                {% endif %}
            </div>
            <div class="pull-right">
                {% include 'LsCmsBundle:Default:_offer_boxes.html.twig' with {'location': location } %}
                {% include 'LsCmsBundle:Default:_quote.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
