<div class="slider-section">
    <div class="main-slideshow">
        <div 
            class="cycle-slideshow slideshow"
            data-cycle-fx="fade"
            data-cycle-timeout="7000"
            data-cycle-speed="500"
            data-cycle-slides="> .item"
            data-cycle-pager=".slider-thumbs"
            data-cycle-pager-template=""
            >
            {% for slider in sliders %}
                <div class="item">
                    <div class="inside-container clearfix">
                        <div class="img-container pull-right">
                            <img src="{{ slider.getThumbWebPath('detail') }}" alt="{{ slider.title }}" />
                            
                            <div class="slide-highlight-wrap">
                                <div class="container">
                                    <div class="slide-highlight"></div>
                                </div>
                            </div>

                            <div class="slider-container">

                                <div class="slider-text pull-left">
                                    <h2>{{ slider.title }}</h2>

                                    {{ slider.content|raw }}

                                    <a href="{{ slider.url }}">Dowiedz się więcej</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="controls-wrap">
            <div class="container">
                <ul class="unstyled inline slider-thumbs cycle-pager external">
                    {% for thumb in sliders %}
                        <li>
                            <div class="img-container">
                                <img src="{{ thumb.getThumbWebPath('thumb') }}" alt="{{ thumb.title }}" />
                            </div>

                            <div class="name">
                                <h2>{{ thumb.title }}</h2>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="mobile-slideshow">
            <div class="cycle-slideshow slideshow"
                 data-cycle-fx="fade"
                 data-cycle-swipe="true"
                 data-cycle-swipe-fx="scrollHorz"
                 data-cycle-timeout="5000"
                 data-cycle-speed="500"
                 data-cycle-slides="> .item"
                 data-cycle-pager=".pager"
                 >
                {% for slider in sliders %}
                    <div class="item">
                        <div class="img-container">
                            <img src="{{ slider.getThumbWebPath('detail') }}" alt="{{ slider.title }}" />
                        </div>
                        <div class="slider-text">
                            <h2>{{ slider.title }}</h2>
                            {{ slider.content|raw }}
                            <a href="{{ slider.url }}">Dowiedz się więcej</a>
                        </div>
                    </div>
                {% endfor %}
                <div class="pager"></div>
            </div>
        </div>
    </div>
</div>

<div class="mobile-slider-wrap">
    <div id="bx-mobile-slider">
        {% for slider in sliders %}
            <div class="item">
                <div class="item-image">
                    <img src="{{ slider.getThumbWebPath('detail') }}" alt="{{ slider.title }}" />
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="mobile-content-slider-wrap">
    <div id="bx-mobile-content-slider">
        {% for slider in sliders %}
            <div class="item-content">
                <div class="container">
                    <h2>{{ slider.title }}</h2>

                    <div class="item-content-text">
                        {{ slider.content|raw }}
                    </div>

                    <a href="{{ slider.url }}">Dowiedz się więcej</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>