{% extends '::base.html.twig' %}

{% block title %}{{ product.seoTitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ product.seoDescription }}{% endblock %}
{% block keywords %}{{ product.seoKeywords }}{% endblock %}

{% block body %}
    <div class="page-title color"><h1>{{ product.name }}</h1></div>
    <div class="page-separator"></div>
    
    {% if product.photo %}
        <div class="page-image">
            <img src="{{ product.getThumbWebPath('detail') }}" alt="zdjęcie produktu - {{ product.name }}"/>
        </div>
    {% endif %}
    
    <div class="page-content">
        <p>{{ product.content | raw }}</p>
        
        <div class="details">
            {% if product.quantity %}
                <span class="node">Dostępne: <strong>{{ product.quantity }} szt.</strong></span>
            {% endif %}
            
            {% if product.promotionPrice > 0 %}
                <br/><span class="node">Cena: <strong class="old-price">{{ product.price | number_format(2, ',', '.') }} zł</strong></span>
                <br/><span class="new-price">{{ product.promotionPrice | number_format(2, ',', '.') }} zł</span>
            {% else %}
                <br/><span class="node">Cena: <strong class="new-price">{{ product.price | number_format(2, ',', '.') }} zł</strong></span>
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
    <div class="hr margin"></div>

    {% render(controller("LsCmsBundle:Product:promotionsSlider")) %}
{% endblock %}
