<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpcgIPFTKD5QHW58QXaii3wUyI2GtqyR0&callback=initMap" async defer></script>
<script>
    var localization = true;
</script>
<div class="ajax-error"></div>
<div id="front-map" data-lat="" data-long="" data-path="{{ path('lscms_shop_search') }}"></div>
<script>
    function initMap() {
        var map;
        var marker;
        var markers = [];
        var lastMarker;
        var i;
        var icon = '{{ asset("/bundles/lscms/images/pin.png") }}';
        
        var lat = parseFloat($('#front-map').attr('data-lat'));
        var long = parseFloat($('#front-map').attr('data-long'));
        var infoWindow = new google.maps.InfoWindow({map: map});
        
        var container = $('#shop-info');
        
        {% for shop in shops %}
            for (var i = 0; i < '{{ shops|length }}'; i++) {
                markers[i] = new google.maps.Marker({
                    position: new google.maps.LatLng('{{ shop.city.mapPositionFromTop }}', '{{ shop.city.mapPositionFromLeft }}'),
                    map: map,
                    animation: google.maps.Animation.DROP,
                });
                markers[i].setIcon(icon);
}
        {% endfor %}
        
        if (!isNaN(lat) || !isNaN(long)) {
            var markerLatLng = {lat: lat, lng: long};
            var zoom = 12; 
            $('#front-map').attr('data-lat', null);
            $('#front-map').attr('data-long', null);
        } else {
            var markerLatLng = {lat: 51.0201000, lng: 20.0017000};
            var zoom = 6;
        }
        map = new google.maps.Map(document.getElementById('front-map'), {
            center: markerLatLng,
            zoom: zoom,
            scrollwheel: false
        });
        // Try HTML5 geolocation.
        if (localization == true) {
            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude
                };

                infoWindow.setPosition(pos);
                            map.setCenter(pos);
                            map.setZoom(8)
                            localization = false;
                        }, function () {
                            handleLocationError(true, map.getCenter());
                        });
                    } else {
                        // Browser doesn't support Geolocation
                        handleLocationError(false, map.getCenter());
                    }

                function handleLocationError(browserHasGeolocation, pos) {
                    infoWindow.setPosition(pos);
                }
        }
        {% for shop in shops %}
            {% if shop.city.mapPositionFromTop is not null or shop.city.mapPositionFromLeft is not null %}
                var lastMarker = null;
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng('{{ shop.city.mapPositionFromTop }}', '{{ shop.city.mapPositionFromLeft }}'),
                    map: map,
                    animation: google.maps.Animation.DROP,
                    icon: icon
                });
                
                google.maps.event.addListener(marker, 'click', function (event) {
                    if (lastMarker != null) {
                        lastMarker.setIcon(icon);
                    }
                    map.panTo(this.getPosition());
                    map.panBy(80, 0);
                    this.setIcon('{{ asset("/bundles/lscms/images/green-pin.png") }}');
                    lastMarker = this;
                    
                    $.ajax({
                        type: "GET",
                        url: '{{ path("lscms_shop_show", {"citySlug": shop.slug }) }}',
                        data: { 
                            slug: '{{ shop.city.slug }}'
                        },
                        dataType: "json", 
                        success: function (response) {
                            $(container).fadeIn();
                            $(container).html(response.html);
                        },
                    });
                });
                $(container).on('click', null, function() {
                    $(container, map).fadeOut();
                });
            {% endif %}
        {% endfor %}
    }
</script>
<div class="hover" id="shop-info">
    {% include('LsCmsBundle:Shop:_show.html.twig') %}
</div>