{% if shop is defined %}
        <div class="inside-container">
            <img src="{{ shop.getThumbWebPath('list') }}" alt="sklep" />
            <div class="description">
                <p class="name">{{ shop.name }}</p>
                <p>{{ shop.address }}</p>
                <p class="hours">{{ shop.weekHours }}</p>
                <p class="hours">{{ shop.weekendHours }}</p>
                {% if shop.phone is not empty %}
                    <p class="hours">Telefon: {{ shop.phone }}</p>
                {% endif %}
            </div>
        </div>
        <a href="http://maps.google.com/maps?q=loc:{{ city.mapPositionFromTop }},{{ city.mapPositionFromLeft }}&navigate=yes" class="nav-btn" id="navigation" target="_blank">Nawiguj do sklepu</a>
{% endif %}

