<span class="header">
    Sklepy
</span>
<ul>
    {% for city in cities %}
        <li><a href="{{ path("lscms_shop_show", { citySlug: city.slug }) }}">{{ city.name }}</a></li>
    {% endfor %}
</ul>
