{% extends '::base.html.twig' %}

{% block title %}{{ shop.seoTitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ shop.seoDescription }}{% endblock %}
{% block keywords %}{{ shop.seoKeywords }}{% endblock %}

{% block body %}
    <div class="page-title color"><h1>Sklep {{ city.name }}</h1></div>
    <div class="page-separator"></div>
    
    <div class="page-content">
        <div class="address">{{ shop.address }}</div>
        <div class="openingHours">Godziny otwarcia: {{ shop.phone }}</div>
    </div>
    
    {% if shop.gallery %}
        {% include "LsCmsBundle::gallery.html.twig" with { photos: shop.gallery.photos } %}
    {% endif %}
{% endblock %}
