{% extends '::base.html.twig' %}

{% block title %}Sklepy - {{ parent() }}{% endblock %}

{% block body %}
<div class="container shops clearfix">
    <div class="left-col pull-left">
        <div class="page-title contact-title">
            <h1>Sklepy</h1>
            <p class="lead">{{ cms_config.get('shop_text', '') }}</p>
        </div>
        <div class="page-content contact clearfix">
            <div class="search-box">
                <form action="{{ path('lscms_shop_search') }}" method="post">
                    <label for="code">Znajdź najbliższe sklepy za pomocą:</label>
                    <input type="text" name="code" placeholder="Kod pocztowy">
                    <label class="or_label" for="city">lub:</label>
                    <input type="text" name="city" placeholder="Miejscowość">
                    <input type="submit" name="submit" value="Wyszukaj sklepy" class="submit-btn">
                </form>
            </div> 
        </div>
        <div class="map-insider map-container">
            {% include('LsCmsBundle:Shop:_map.html.twig') with {'shops': shops} %}
        </div>
    </div>
    <div class="right-col pull-right">
        {% include('LsCmsBundle:Default:_offer_boxes.html.twig') %}
        {% include('LsCmsBundle:Default:_quote.html.twig') %}
    </div>
</div>
{% endblock %}
