<div id="shops-main" class="cycle-slideshow" 
     data-cycle-fx="fade" 
     data-cycle-slides="> div.slide" 
     data-cycle-speed="600"
     data-cycle-timeout="5000"
     data-cycle-pause-on-hover="true">
    {% for shop in shops %}
        {% if loop.first %}
            <div class="slide">
        {% endif %}
    
        <div class="item">
            {% set url = 'javascript:void(0)' %}
            {% if shop.city %}
                {% set url = path("lscms_shop_show", { citySlug: shop.city.slug }) %}
            {% endif %}
            <a href="{{ url }}">
                {% if shop.photo %}
                    <img src="{{ shop.getThumbWebPath('detail') }}" alt="zdjęcie sklepu"/>
                {% endif %}
                    
                <span class="address">
                    <span class="city">
                        {% if shop.city %}
                            {{ shop.city.name }}
                        {% endif %}
                    </span>
                    <br/>
                    <span class="street">{{ shop.address }}</span>
                </span>
            </a>
        </div>
            
        {% if loop.last %}
            </div>
        {% elseif loop.index % 4 == 0 %}
            </div><div class="slide">
        {% endif %}
    {% endfor %}
</div>
