{% extends '::base.html.twig' %}

{% block title %}{{ city.seoTitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ city.seoDescription }}{% endblock %}
{% block keywords %}{{ city.seoKeywords }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.map').each(function() {
                var $mapContainer = $(this).children('div'),
                    fullAddress = $(this).attr('data-full-address'),
                    geocoder = new google.maps.Geocoder(),
                    mapOptions = {
                        zoom: 12
                    },
                    map = new google.maps.Map($mapContainer[0], mapOptions);
                    
                geocoder.geocode( { 'address': fullAddress }, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        map.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                            map:  map,
                            position: results[0].geometry.location
                        });
                      } else {
                        console.log('Geocode was not successful for the following reason: ' + status);
                      }
                });
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="page-title color"><h1>Sklepy: {{ city.name }}</h1></div>
    <div class="page-separator"></div>
    
    <div id="shops">
        {% for shop in city.shops %}
            <div class="item">
                {% if shop.photo %}
                    <a class="img" href="{{ path("lscms_shop_details", { citySlug: city.slug, shopSlug: shop.slug }) }}">
                        <img src="{{ shop.getThumbWebPath('list') }}" alt="zdjęcie sklepu"/>
                    </a>
                {% endif %}
                
                <div class="map" data-full-address="{{ city.name }} {{ shop.address }}">
                    <div></div>
                </div>
                <a class="address" href="{{ path("lscms_shop_details", { citySlug: city.slug, shopSlug: shop.slug }) }}">
                    {{ shop.address }}
                    <br/>{{ shop.phone }} {# to sa godziny otwarcia, moze sie zmienic znow na telefon takze nazwa zmiennej zostaje taka #}
                </a>
                <div class="clear"></div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
