<!DOCTYPE html>
<html>
    <head>
    	{% block meta %}
            <title>{% block title %}{{ cms_config.get('seo_title', '') }}{% endblock %}</title>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta name="Description" content="{% block description %}{{ cms_config.get('seo_description', '') }}{% endblock %}" />
            <meta name="Keywords" content="{% block keywords %}{{ cms_config.get('seo_keywords', '') }}{% endblock %}" />
            <meta name="viewport" content="width: device-width, initial-scale=1">
        {% endblock %}
        
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/lscms/css/smoothness/jquery-ui-1.9.2.custom.min.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/lscms/css/colorbox.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/lscms/css/editor.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/lscms/css/jquery.bxslider.min.css') }}" type="text/css" media="all"/>
            <link rel="stylesheet" href="{{ asset('bundles/lscms/css/fonts/fonts.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/lscms/css/nanoscroller.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/lscms/css/font-awesome-4.7.0/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/lscms/css/style.css?ver=17') }}" type="text/css" media="all" />
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=latin-ext" rel="stylesheet">

        
            <!--
            <link rel="stylesheet" href="{{ asset('bundles/lscms/js/theme/jquery.ui.core.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/lscms/js/theme/jquery.ui.theme.css') }}" type="text/css" media="all" />
            -->
        {% endblock %}
        
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/lscms/js/jquery-1.8.3.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/lscms/js/jquery-ui-1.9.2.custom.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/lscms/js/jquery.ui.datepicker-pl.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/lscms/js/jquery.bxslider.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/lscms/js/colorbox/jquery.colorbox-min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/lscms/js/colorbox/jquery.colorboxpl.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/lscms/js/jquery.cycle2.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/lscms/js/carousel.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/lscms/js/cycle2_swipe.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/lscms/js/jquery.ui.selectmenu.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/lscms/js/nanoscroller-0.8.7.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/lscms/js/main.js?ver=17') }}"></script>
        {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/lscms/images/favicon.png?ver=6') }}" />
    </head>
    
    <body{% if main %} class="main"{% endif %}>
    	{{ cms_config.get('custom_javascript', '')|raw }}
        <div class="dark-upper-bar">
            <div class="container clearfix">
                {% set menuTop = knp_menu_get('LsCmsBundle:Builder:managedMenu', [], {'location': 'menu_top'}) %}
                {{ knp_menu_render(menuTop, {'template': 'LsCmsBundle:Menu:knp_menu.html.twig'}) }}
            </div>
        </div>
        <div class="main-nav-section clearfix">
            <div class="container">
                <div id="brand"><a href="{{ path('lscms_homepage') }}"></a></div>
                <div class="desktop-nav">
                    {% set menuTop = knp_menu_get('LsCmsBundle:Builder:managedMenu', [], {'location': 'menu_top_middle'}) %}
                    {{ knp_menu_render(menuTop, {'template': 'LsCmsBundle:Menu:knp_menu.html.twig'}) }}
                </div>
                <a href="" id="mobile-nav-trigger">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                <a class="search search-trigger">
                    <i class="fa fa-search search" aria-hidden="true"></i>
                    <div id="search">
                        <form action="{{ path('lscms_search') }}" method="get" class="main-search">
                            <input type="text" class="text-input" name="keyword" placeholder="Wyszukaj...">
                            <input type="submit" name="search" class="hidden submit" value="Szukaj">
                            <i class="fa fa-search go" aria-hidden="true"></i>
                        </form>
                    </div>
                </a>
            </div>
            <div id="scrolled" class="mnav nano">
                <div class="nano-content">
                    <div class="content">
                        {% set menuTop = knp_menu_get('LsCmsBundle:Builder:managedMenu', [], {'location': 'menu_top_middle'}) %}
                        {{ knp_menu_render(menuTop, {'template': 'LsCmsBundle:Menu:knp_menu.html.twig'}) }}
                        <div class="dark-upper-bar-mobile">
                            {% set menuTop = knp_menu_get('LsCmsBundle:Builder:managedMenu', [], {'location': 'menu_top'}) %}
                            {{ knp_menu_render(menuTop, {'template': 'LsCmsBundle:Menu:knp_menu.html.twig'}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
                        
        {% block body %}{% endblock %}
                        
        <div class="footer">
            <div class="container clearfix">
                <div class="bottom-nav">
                    {% set menuTop = knp_menu_get('LsCmsBundle:Builder:managedMenu', [], {'location': 'menu_bottom'}) %}
                    {{ knp_menu_render(menuTop, {'template': 'LsCmsBundle:Menu:knp_menu_bottom.html.twig'}) }}
                    <div class="contact-info">
                        <ul class="unstyled">
                            <li>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <p>
                                    {{ cms_config.get('contact_page_cell_phone_number', '') }}
                                </p>
                            </li>
                            <li>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <p>
                                    +{{ cms_config.get('contact_page_phone_prefix', '') }} {{ cms_config.get('contact_page_phone_number', '') }}
                                </p>
                            </li>
                            <li>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <p>
                                    <a href="mailto:{{ cms_config.get('contact_page_email', '') }}">{{ cms_config.get('contact_page_email', '') }}</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <a href="#" id="return-to-top-btn">
                        <span>Do góry</span>
                        <img src="{{ asset('bundles/lscms/images/arrow-up.png') }}" alt="Do góry" />
                    </a>
                    <a href="#" id="return-to-top-btn-mobile">
                        <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="line"></div>
                <div class="copyright">
                    <p>
                        &copy; Copyrights 2013 - 2016. Wszelkie prawa zastrzeżone przez Ho-Ho.
                    </p>
                    <p class="realization">
                        <span>Realizacja:</span> <a href="#"><img src="{{ asset('bundles/lscms/images/bottom-logo.png') }}" alt="Lemonade Studio" /></a>
                    </p>
                </div>
            </div>
        </div>

        {{ render(controller('LsCmsBundle:Popup:popup')) }}
    </body>
</html>
