<div class="productAllegroTemplate">
    <h3>Kod szablonu allegro dla produktu: <br> {{ object.name }}</h3>
    <br>
    <p>Aby skopiować szablon wciśnij <b>ctrl + C</b></p>
    <textarea>
        {{ renderedTemplate }}
    </textarea>
</div>
