{% extends '::base.html.twig' %}

{% block body -%}
    <h1>MenuItem list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Location</th>
                <th>Type</th>
                <th>Title</th>
                <th>Route</th>
                <th>Routeparameters</th>
                <th>Url</th>
                <th>Onclick</th>
                <th>Arrangement</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('lscms_menu_item_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.location }}</td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.route }}</td>
                <td>{{ entity.routeParameters }}</td>
                <td>{{ entity.url }}</td>
                <td>{{ entity.onclick }}</td>
                <td>{{ entity.arrangement }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('lscms_menu_item_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('lscms_menu_item_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('lscms_menu_item_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
