{% extends '::base.html.twig' %}

{% block body -%}
    <h1>MenuItem creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('lscms_menu_item') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
