{% extends '::base.html.twig' %}

{% block body -%}
    <h1>MenuItem</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ entity.location }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Route</th>
                <td>{{ entity.route }}</td>
            </tr>
            <tr>
                <th>Routeparameters</th>
                <td>{{ entity.routeParameters }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ entity.url }}</td>
            </tr>
            <tr>
                <th>Onclick</th>
                <td>{{ entity.onclick }}</td>
            </tr>
            <tr>
                <th>Arrangement</th>
                <td>{{ entity.arrangement }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('lscms_menu_item') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('lscms_menu_item_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
