{% if entity.url is not empty and entity.getPhotoWebPath() is not empty and showPopup %}
	<div class="popup-banner">
		<div class="content">
			<div class="close" onclick="closePopupBanner();"></div>
			<a href="{{ entity.url }}">
				<img src="{{ entity.getPhotoWebPath() }}" alt="banner">
			</a>
		</div>
	</div>
{% endif %}