{% extends '::base.html.twig' %}

{% block title %}{{ page.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ page.seodescription }}{% endblock %}
{% block keywords %}{{ page.seokeywords }}{% endblock %}

{% block body %}
    <div class="container subpage-container clearfix">
        <div class="left-col pull-left">
            <div class="page-title contact-title">
                <h1>{{ page.title }}</h1>
                <p class="lead">Masz pytania? Skontaktuj się z nami!</p>
            </div>
            <div class="page-content">
                <div class="pull-left">
                    {{ page.content | raw }}
                </div>
                <div class="pull-right">
                    <img src="{{ asset('bundles/lscms/images/home-sketch.png') }}" class="subpage-image" alt="alt" />
                    <p class="orange-frame">
                        {{ cms_config.get('lokal_text', '') }}
                    </p>
                </div>
            </div>
            {% if page.gallery %}
                {% include "LsCmsBundle::gallery.html.twig" with { photos: page.gallery.photos } %}
            {% endif %}
        </div>
        <div class="right-col pull-right">
            {% include 'LsCmsBundle:Default:_offer_boxes.html.twig' %}
        </div>
    </div>
    
    
{% endblock %}
