<span class="header">
    Kategorie
</span>
<ul>
    {% for category in categories %}
        <li><a href="{{ path("lscms_productCategory_show", { slug: category.slug }) }}">{{ category.name }}</a></li>
    {% endfor %}
</ul>
