{% extends '::base.html.twig' %}

{% block title %}{{ category.seoTitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ category.seoDescription }}{% endblock %}
{% block keywords %}{{ category.seoKeywords }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="desktop">
            <div class="subpage-slider" style="background: url('{{ category.getPhoto() ? category.getThumbWebPath('sliderDesktop') : '/bundles/lscms/images/new-slider.jpg' }} ') no-repeat">
                <div class="text">
                    <p class="pre-header">Kategoria:</p>
                    <h1>{{ category.name }}</h1>
                    {% if category.description is defined %}
                        <p class="description">{{ category.description }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="tablet">
            <div class="subpage-slider" style="background: url('{{ category.getPhoto() ? category.getThumbWebPath('sliderTablet') : '/bundles/lscms/images/new-slider.jpg' }} ') no-repeat">
                <div class="text">
                    <p class="pre-header">Kategoria:</p>
                    <h1>{{ category.name }}</h1>
                    {% if category.description is defined %}
                        <p class="description">{{ category.description }}</p>
                    {% endif %}
            </div>
            </div>
        </div>
        <div class="mobile">
            <div class="subpage-slider" style="background: url('{{ category.getPhoto() ? category.getThumbWebPath('sliderMobile') : '/bundles/lscms/images/new-slider.jpg' }} ') no-repeat">
                <div class="text">
                    <p class="pre-header">Kategoria:</p>
                    <h1>{{ category.name }}</h1>
                    {% if category.description is defined %}
                        <p class="description">{{ category.description }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="page-content products clearfix">
            <div class="attributes-col">
            {% render(controller('LsCmsBundle:Attribute:index', {'slug': slug})) %}
            <h3 class="title">Wyszukaj produkt:</h3>
            <div id="category-search">
                <form action="{{ path('lscms_search') }}" method="post" class="main-search">
                    <input type="text" class="text-input" name="keyword">
                    <input type="submit" name="search" class="hidden submit" value="Szukaj">
                    <i class="fa fa-search go" aria-hidden="true"></i>
                </form>
            </div>
            </div>
            <div class="product-right-col">
                {% if products is not empty %}
                {% include('LsCmsBundle:Product:_sort.html.twig') %}
                <ul class="unstyled inline">
                    {% for product in products %}
                    <li>
                             {% if product.photo %}
                                 <div class="img-container">
                                    <a href="{{ product.getPhotoWebPath() }}">
                                        <img src="{{ product.getThumbWebPath('list') }}" alt="zdjęcie produktu - {{ product.name }}"/>
                                    </a>
                                 </div>
                                {% endif %}
                                <p class="name">{{ product.name }}</p>

                                {% if product.quantity %}
                                    <p class="quantity">Dostępne: {{ product.quantity | default(0) }} szt.</p>
                                {% endif %}

                                {% if product.promotionPrice > 0 %}
                                    <p class="price">
                                        {{ product.price|number_format(2, '.') }} zł <span>{{ product.promotionPrice|number_format(2, '.') }} zł</span>
                                    </p>
                                {% else %}
                                    <p class="price">
                                        {{ product.price|number_format(2, '.') }} zł
                                    </p>
                            {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {{ knp_pagination_render(products) }}
                {% else %}
                    <p>
                        Brak produktów w kategorii {{ category.name }}{% if attribute is defined %} dla podanego atrybutu{% endif %}.
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
