{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block form %}
    {% set url = admin.id(object) ? 'edit' : 'create' %}
    {% if not admin.hasRoute(url)%}
<div>
            {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
    </div>
    {% else %}
    <form class="form-horizontal" action="{{ admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}) }}" {{ form_enctype(form) }} method="POST">
            {% if form.vars.errors|length > 0 %}
            <div class="sonata-ba-form-error">
                    {{ form_errors(form) }}
                </div>
            {% endif %}

            {% block sonata_pre_fieldsets %}
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        {% for name, form_group in admin.formgroups %}
                            <li class="{% if loop.first %}active{% endif %}">
                                <a href="#{{ admin.uniqid }}_{{ loop.index }}" data-toggle="tab">
                                    <i class="icon-exclamation-sign has-errors hide"></i>
                                    {{ admin.trans(name) }}
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
            {% endblock %}

                        <div class="tab-content">
                    {% for name, form_group in admin.formgroups %}
                                <div class="tab-pane {% if loop.first %} active{% endif %}" id="{{ admin.uniqid }}_{{ loop.index }}">
                                    <fieldset>
                                        <div class="sonata-ba-collapsed-fields">
                                    {% for field_name in form_group.fields %}
                                        {% if admin.formfielddescriptions[field_name] is defined %}
                                            {{ form_row(form[field_name])}}
                                        {% endif %}
                                        {% if field_name == 'file' %}
                                            {% if object.getPhotoWebPath != null %}
                                                <table class="kadrowanie">
                                                    <tr>
                                                        <td>Aktualne zdjęcie</td>
                                                        <td>
                                                            <img src="{{ object.getPhotoWebPath() }}?{{ random(10000) }}" style="max-width: 500px;"/>
                                                        </td>
                                                    </tr>
                                                </table>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                            </div>
                                        </fieldset>
                                    </div>
                    {% endfor %}
                                </div>

            {% block sonata_post_fieldsets %}
                            </div>
            {% endblock %}

            {{ form_rest(form) }}

            {% block formactions %}
                <div class="well form-actions">
                    <input type="submit" class="btn btn-primary" name="btn_update_and_list" value="{{ 'btn_update'|trans({}, 'SonataAdminBundle') }}"/>
                </div>
            {% endblock formactions %}
                            </form>
    {% endif%}

{% endblock %}
