/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-02-07, 13:54:19
    Author     : Tomek Jacek
*/

@mixin breakpoint($breakpoints) {
    $breakpoint-max: $desktop-breakpoint-max;
    
    @each $breakpoint in $breakpoints {
        @if $breakpoint == mobile {
            $breakpoint-max: $mobile-breakpoint-max;
        } @else if $breakpoint == tablet {
            $breakpoint-max: $tablet-breakpoint-max;
        } @else if $breakpoint == desktop {
            $breakpoint-max: $desktop-breakpoint-max;
        }
        
        @media (max-width: $breakpoint-max) {
            @content;
        }
    }
}

