/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-02-06, 12:52:47
    Author     : Tomek Jacek
*/

.clearfix {
    &:after {
        display: block;
        content: "";
        clear: both;
    }
}
ul {
    &.unstyled {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &.inline {
        li {
            display: inline-block;
        }
    }
}
.pull- {
    &right {
        float: right;
    }
    &left {
        float: left;
    }
}
p {
    &.wstep {
        font: {
            size: 13px;
            weight: 600;
        }
    }
    &.warning {
        
    }
}
.hidden {
    visibility: hidden;
}
ul {
    &.unstyled {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &.inline {
        li {
            display: inline-block;
        }
    }
}
.scroll-blocked {
    overflow-y: hidden;
}
