/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-02-06, 14:19:42
    Author     : Tomek Jacek
*/

@mixin position($position, $index) {
    position: $position;
    z-index: $index;
}
@mixin font($size, $weight) {
    font: {
        size: $size;
        weight: $weight;
    }
}
@mixin ghost-btn($width, $border-color, $height) {
    @include font(14px, 700);
    color: $dark-grey;
    border: 2px solid $border-color;
    background: transparent;
    display: block;
    height: $height;
    text-decoration: none;
    text-transform: uppercase;  
    width: $width;
}
@mixin gradiented-box($url, $height, $width, $first-color, $second-color) {
    @include position(relative, 1001);
    background: url($url) no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 8px;
    content: '';
    display: block;
    height: $height;
    width: $width;
    &:before {
        @include position(absolute, 1002);
        background: linear-gradient(to right, $first-color 35%, $second-color 90%);
        border-radius: 8px;
        display: block;
        content: "";
        height: 100%;
        width: 100%;
    }
}
@mixin text-shadow($color) {
    text-shadow: 0 1px 0 $color;
}

