/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-02-06, 13:29:36
    Author     : Tomek Jacek
*/

$dark-grey: #333333;
$green: #9cca1f;
$orange: #f04b11;
$red: #ff0000;

$border-radius: 8px;

// Variables for breakpoints
$desktop-breakpoint-max: 1920px;
$desktop-breakpoint-min: 1190px;
$tablet-breakpoint-max: $desktop-breakpoint-min - 1;
$tablet-breakpoint-min: 798px;
$mobile-breakpoint-max: $tablet-breakpoint-min - 1;
$mobile-breakpoint-min: 300px;
