{% extends '::base.html.twig' %}

{% block title %}Aktualności - {{ parent() }}{% endblock %}

{% block body %}
<div class="left-pane">
    <div class="title"><h1>Wydarzenia</h1></div>
    <div class="wydarzenia-listing">
        {% for entity in entities %}
        <div class="item">
            <div class="title">
                <a href="{{ path('lscms_news_show', { 'slug': entity.slug }) }}" title="{{ entity.title }}">{{ entity.title }}</a>
            </div>
            <div class="content">{{ entity.contentshort }}</div>
            <br/>
            <a href="{{ path('lscms_news_show', { 'slug': entity.slug }) }}" title="Czytaj dalej" class="more underline">czytaj dalej<img src="{{ asset('bundles/lscms/images/arrow-more.png') }}" alt="czytaj dalej"/></a>
        </div>
        {% endfor %}
    </div>
    {{ knp_pagination_render(entities) }}
</div>
{% include "LsCmsBundle::rightPane.html.twig" with { type: 'contact' } %}
{% endblock %}
