{% extends '::base.html.twig' %}

{% block title %}{{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block body %}
<div class="left-pane">
    <div class="title"><a href="{{ path('lscms_news') }}"><h1>Wydarzenia</h1></a></div>
    <div class="wydarzenia-details">
        <div class="title-2"><h2>{{ entity.title }}</h2></div>
        {{ entity.content|raw }}
        {% if entity.gallery %}
            {% include "LsCmsBundle::gallery.html.twig" with { photos: entity.gallery.photos } %}
        {% endif %}
        {{ entity.contentunder|raw }}
    </div>
</div>
{% include "LsCmsBundle::rightPane.html.twig" with { type: 'contact' } %}
{% endblock %}
